In [3]:
import numpy as np
import pandas as pd

In [4]:
data_1=pd.read_csv("D:\\RA-Tasks\\1 Graph neural network_POI\\Task1\\Process\\Hong Kong Twitter 2016.5_2018.12.csv")

C:\Users\user\AppData\Local\Temp\ipykernel_1516\3780827200.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data_1=pd.read_csv("D:\\RA-Tasks\\1 Graph neural network_POI\\Task1\\Process\\Hong Kong Twitter 2016.5_2018.12.csv")

In [5]:
data_1.head(5)

,Unnamed: 0,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,...,verified,hk_time,year,month,month_plus_year,day,TPU_longitudinal,TPU_cross_sectional,cleaned_text,sentiment
0,0,Sat May 07 06:18:59 +0000 2016,7.288310e+17,en,22.278850,114.184620,#Working #Saturday #Afternoon! #Final #Touch i...,Hong Kong,False,https://t.co/q4GWk8nZFm,...,False,2016-05-07 14:12:59+08:00,2016,5,2016_5,7,146,146 - 147,working saturday afternoon final touch is on t...,1
1,1,Sat May 07 07:02:19 +0000 2016,7.288420e+17,en,22.315302,113.934832,I'm at Hong Kong International Airport <U+9999...,Eastern Time (US & Canada),False,https://t.co/s1U275BtH4,...,False,2016-05-07 14:56:19+08:00,2016,5,2016_5,7,951,950 - 951,i am at hong kong international airport u numb...,1
2,2,Sat May 07 07:02:34 +0000 2016,7.288420e+17,en,22.276808,113.916187,The cable car ride... #cablecar #mountain #360...,Kuala Lumpur,False,https://t.co/5vwsCLv80G,...,False,2016-05-07 14:56:34+08:00,2016,5,2016_5,7,943,941 - 943,the cable car ride repeated cable car mountain...,1
3,3,Sat May 07 07:03:11 +0000 2016,7.288430e+17,en,22.275643,114.171174,Love Roses! <ed><U+00A0><U+00BD><ed><U+00B8><U...,Hong Kong,False,https://t.co/wTrbCG7H8T,...,False,2016-05-07 14:57:11+08:00,2016,5,2016_5,7,131,131,love üòç üòç üòç üåπ üå∑ üíê flower weekend saturday beaut...,2
4,4,Sat May 07 07:05:37 +0000 2016,7.288430e+17,en,22.302772,114.011717,Preparing for a photo shoot #glamourshots #bla...,NaN,False,https://t.co/PEVkAoleNQ,...,False,2016-05-07 14:59:37+08:00,2016,5,2016_5,7,971,971 - 974,for a photo shoot glamour photo h beauty,2

In [6]:
data_1.shape

(409626, 24)

In [7]:
data_1.describe()

,Unnamed: 0,id_str,lat,lon,user_id_str,year,month,day,TPU_longitudinal,sentiment
count,409626.000000,4.096260e+05,409626.000000,409626.000000,4.096260e+05,409626.000000,409626.000000,409626.000000,409626.000000,409626.000000
mean,221819.125302,8.767195e+17,22.303998,114.137678,1.922317e+16,2016.923882,7.022232,15.479816,345.812575,1.437272
std,128834.828099,9.668169e+16,0.041604,0.083600,1.239209e+17,0.765271,3.360192,8.690227,307.900624,0.554842
min,0.000000,7.288310e+17,22.155776,113.851093,8.530000e+02,2016.000000,1.000000,1.000000,111.000000,0.000000
25%,110110.250000,7.953294e+17,22.280900,114.148412,4.685703e+07,2016.000000,4.000000,8.000000,134.000000,1.000000
50%,220379.500000,8.610970e+17,22.293423,114.168476,1.476191e+08,2017.000000,7.000000,15.000000,211.000000,1.000000
75%,333406.750000,9.505236e+17,22.314806,114.178000,4.977202e+08,2018.000000,10.000000,23.000000,350.000000,2.000000
max,445971.000000,1.075162e+18,22.559391,114.441454,1.069993e+18,2018.000000,12.000000,31.000000,976.000000,2.000000

In [8]:
data_1.dtypes

Unnamed: 0               int64
created_at              object
id_str                 float64
lang                    object
lat                    float64
lon                    float64
text                    object
time_zone               object
truncated                 bool
url                     object
user_created_at         object
user_id_str              int64
user_lang               object
user_url                object
verified                  bool
hk_time                 object
year                     int64
month                    int64
month_plus_year         object
day                      int64
TPU_longitudinal         int64
TPU_cross_sectional     object
cleaned_text            object
sentiment                int64
dtype: object

In [10]:
from datetime import datetime

In [12]:
data_1['datetime'].dtype

KeyError: 'datetime'

In [14]:
data_1['created_at'].dtype

dtype('O')

In [15]:
data_1['created_at'].dtypes

dtype('O')

In [16]:
data_1['datetime']=data_1[['created_at']].strftime(data_1[['created_at']].strptime(s, '%Y-%m-%dT%H:%M:%S.000%z' ), '%Y-%m-%d %H:%M:%S' )

AttributeError: 'DataFrame' object has no attribute 'strftime'

In [17]:
data_1['date'] = pd.to_datetime(data_1['created_at'])

In [18]:
data_1.head(5)

,Unnamed: 0,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,...,hk_time,year,month,month_plus_year,day,TPU_longitudinal,TPU_cross_sectional,cleaned_text,sentiment,date
0,0,Sat May 07 06:18:59 +0000 2016,7.288310e+17,en,22.278850,114.184620,#Working #Saturday #Afternoon! #Final #Touch i...,Hong Kong,False,https://t.co/q4GWk8nZFm,...,2016-05-07 14:12:59+08:00,2016,5,2016_5,7,146,146 - 147,working saturday afternoon final touch is on t...,1,2016-05-07 06:18:59+00:00
1,1,Sat May 07 07:02:19 +0000 2016,7.288420e+17,en,22.315302,113.934832,I'm at Hong Kong International Airport <U+9999...,Eastern Time (US & Canada),False,https://t.co/s1U275BtH4,...,2016-05-07 14:56:19+08:00,2016,5,2016_5,7,951,950 - 951,i am at hong kong international airport u numb...,1,2016-05-07 07:02:19+00:00
2,2,Sat May 07 07:02:34 +0000 2016,7.288420e+17,en,22.276808,113.916187,The cable car ride... #cablecar #mountain #360...,Kuala Lumpur,False,https://t.co/5vwsCLv80G,...,2016-05-07 14:56:34+08:00,2016,5,2016_5,7,943,941 - 943,the cable car ride repeated cable car mountain...,1,2016-05-07 07:02:34+00:00
3,3,Sat May 07 07:03:11 +0000 2016,7.288430e+17,en,22.275643,114.171174,Love Roses! <ed><U+00A0><U+00BD><ed><U+00B8><U...,Hong Kong,False,https://t.co/wTrbCG7H8T,...,2016-05-07 14:57:11+08:00,2016,5,2016_5,7,131,131,love üòç üòç üòç üåπ üå∑ üíê flower weekend saturday beaut...,2,2016-05-07 07:03:11+00:00
4,4,Sat May 07 07:05:37 +0000 2016,7.288430e+17,en,22.302772,114.011717,Preparing for a photo shoot #glamourshots #bla...,NaN,False,https://t.co/PEVkAoleNQ,...,2016-05-07 14:59:37+08:00,2016,5,2016_5,7,971,971 - 974,for a photo shoot glamour photo h beauty,2,2016-05-07 07:05:37+00:00

In [23]:
data_1.groupby(['time_zone'],dropna=False).count()

,Unnamed: 0,created_at,id_str,lang,lat,lon,text,truncated,url,user_created_at,...,hk_time,year,month,month_plus_year,day,TPU_longitudinal,TPU_cross_sectional,cleaned_text,sentiment,date
time_zone,,,,,,,,,,,,,,,,,,,,,
Abu Dhabi,975,975,975,975,975,975,975,975,975,975,...,975,975,975,975,975,975,975,975,975,975
Adelaide,160,160,160,160,160,160,160,160,156,160,...,160,160,160,160,160,160,160,160,160,160
Alaska,15068,15068,15068,15068,15068,15068,15068,15068,14972,15068,...,15068,15068,15068,15068,15068,15068,15068,15068,15068,15068
Almaty,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
America/Anguilla,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Central Africa,77,77,77,77,77,77,77,77,77,77,...,77,77,77,77,77,77,77,77,77,77
Yakutsk,53,53,53,53,53,53,53,53,53,53,...,53,53,53,53,53,53,53,53,53,53
Yerevan,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
Zagreb,22,22,22,22,22,22,22,22,21,22,...,22,22,22,22,22,22,22,22,22,22
NaN,124191,124191,124191,124191,124191,124191,124191,124191,121920,124191,...,124191,124191,124191,124191,124191,124191,124191,124191,124191,124191

In [24]:
import pytz

In [25]:
pytz.all_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Timbuktu', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/ComodRivadavia', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Atka', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Buenos_Aires', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Catamarca', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Ciudad_Juarez', 'America/Coral_Harbour', 'America/Cordoba', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Ensenada', 'America/Fort_Nelson', 'America/Fort_Wayne', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indianapolis', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Jujuy', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Knox_IN', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Louisville', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Mendoza', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montreal', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Acre', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Rosario', 'America/Santa_Isabel', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Shiprock', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Virgin', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/South_Pole', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Ashkhabad', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Calcutta', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Chongqing', 'Asia/Chungking', 'Asia/Colombo', 'Asia/Dacca', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Harbin', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Istanbul', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kashgar', 'Asia/Kathmandu', 'Asia/Katmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macao', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Rangoon', 'Asia/Riyadh', 'Asia/Saigon', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Tel_Aviv', 'Asia/Thimbu', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ujung_Pandang', 'Asia/Ulaanbaatar', 'Asia/Ulan_Bator', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faeroe', 'Atlantic/Faroe', 'Atlantic/Jan_Mayen', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/ACT', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Canberra', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/LHI', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/NSW', 'Australia/North', 'Australia/Perth', 'Australia/Queensland', 'Australia/South', 'Australia/Sydney', 'Australia/Tasmania', 'Australia/Victoria', 'Australia/West', 'Australia/Yancowinna', 'Brazil/Acre', 'Brazil/DeNoronha', 'Brazil/East', 'Brazil/West', 'CET', 'CST6CDT', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Canada/Saskatchewan', 'Canada/Yukon', 'Chile/Continental', 'Chile/EasterIsland', 'Cuba', 'EET', 'EST', 'EST5EDT', 'Egypt', 'Eire', 'Etc/GMT', 'Etc/GMT+0', 'Etc/GMT+1', 'Etc/GMT+10', 'Etc/GMT+11', 'Etc/GMT+12', 'Etc/GMT+2', 'Etc/GMT+3', 'Etc/GMT+4', 'Etc/GMT+5', 'Etc/GMT+6', 'Etc/GMT+7', 'Etc/GMT+8', 'Etc/GMT+9', 'Etc/GMT-0', 'Etc/GMT-1', 'Etc/GMT-10', 'Etc/GMT-11', 'Etc/GMT-12', 'Etc/GMT-13', 'Etc/GMT-14', 'Etc/GMT-2', 'Etc/GMT-3', 'Etc/GMT-4', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-7', 'Etc/GMT-8', 'Etc/GMT-9', 'Etc/GMT0', 'Etc/Greenwich', 'Etc/UCT', 'Etc/UTC', 'Etc/Universal', 'Etc/Zulu', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belfast', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Kyiv', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Nicosia', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Tiraspol', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GB', 'GB-Eire', 'GMT', 'GMT+0', 'GMT-0', 'GMT0', 'Greenwich', 'HST', 'Hongkong', 'Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'MST', 'MST7MDT', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'NZ', 'NZ-CHAT', 'Navajo', 'PRC', 'PST8PDT', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Johnston', 'Pacific/Kanton', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Ponape', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Samoa', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Truk', 'Pacific/Wake', 'Pacific/Wallis', 'Pacific/Yap', 'Poland', 'Portugal', 'ROC', 'ROK', 'Singapore', 'Turkey', 'UCT', 'US/Alaska', 'US/Aleutian', 'US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Samoa', 'UTC', 'Universal', 'W-SU', 'WET', 'Zulu']

In [29]:
# create both timezone objects
data_1['old_timezone']=pytz.timezone(data_1['time_zone'])

AttributeError: 'Series' object has no attribute 'upper'

In [30]:
data_1[data_1.time_zone=='Abu Dhabi']

,Unnamed: 0,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,...,hk_time,year,month,month_plus_year,day,TPU_longitudinal,TPU_cross_sectional,cleaned_text,sentiment,date
1246,1330,Sun May 08 19:42:57 +0000 2016,7.293962e+17,en,22.280900,114.178000,Thanks again Hong Kong <ed><U+00A0><U+00BC><ed...,Abu Dhabi,False,https://t.co/TRE2EaWvgv,...,2016-05-09 03:36:57+08:00,2016,5,2016_5,9,135,135,thanks again hong kong for more great to this ...,2,2016-05-08 19:42:57+00:00
1254,1345,Sun May 08 21:20:20 +0000 2016,7.294207e+17,en,22.314882,113.933372,It's that time again! <U+2708><U+FE0F> #HongKo...,Abu Dhabi,False,https://t.co/vT7Ig26Toy,...,2016-05-09 05:14:20+08:00,2016,5,2016_5,9,951,950 - 951,it s that time again u number u hong kong taxi...,2,2016-05-08 21:20:20+00:00
3007,3258,Thu May 12 08:04:44 +0000 2016,7.306700e+17,en,22.280900,114.178000,Static | Behaviour \r\r\r\r\r\r\r\r\n\r\r\r\r\...,Abu Dhabi,False,https://t.co/eDeDOSdZ98,...,2016-05-12 15:58:44+08:00,2016,5,2016_5,12,135,135,static behaviour china hong kong explore touri...,1,2016-05-12 08:04:44+00:00
3715,4019,Fri May 13 09:07:09 +0000 2016,7.310481e+17,en,22.339341,114.204015,The Nan lian garden at Diamond Hill in Hong Ko...,Abu Dhabi,False,https://t.co/UIu8LKGJR5,...,2016-05-13 17:01:09+08:00,2016,5,2016_5,13,281,281,the nan garden at diamond hill in hong kong a ...,1,2016-05-13 09:07:09+00:00
4297,4648,Sat May 14 06:37:43 +0000 2016,7.313729e+17,en,22.313420,114.043526,Advance birthday treat from my sister. <U+2764...,Abu Dhabi,False,https://t.co/KIIE6Twnx4,...,2016-05-14 14:31:43+08:00,2016,5,2016_5,14,973,971 - 974,advance birthday treat from my sister u number...,2,2016-05-14 06:37:43+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349252,379873,Wed May 09 18:43:15 +0000 2018,9.942867e+17,en,22.256568,113.902456,Keep close to Nature's heart... and break clea...,Abu Dhabi,False,https://t.co/PP5ZeNGlMk,...,2018-05-10 02:37:15+08:00,2018,5,2018_5,10,941,941 - 943,keep close to nature s heart repeated and brea...,1,2018-05-09 18:43:15+00:00
349375,380010,Thu May 10 07:08:36 +0000 2018,9.944743e+17,en,22.282600,114.158200,Life in HongKong transcends culture and culina...,Abu Dhabi,False,https://t.co/9oeIFxp6qM,...,2018-05-10 15:02:36+08:00,2018,5,2018_5,10,123,121 and 123 - 124,life in culture and culinary number,1,2018-05-10 07:08:36+00:00
350534,381306,Sun May 13 11:00:51 +0000 2018,9.956199e+17,en,22.313515,114.043407,Mom: a title just above queen. Happy Mother√¢¬Ä¬ô...,Abu Dhabi,False,https://t.co/abjAYTV5AM,...,2018-05-13 18:54:51+08:00,2018,5,2018_5,13,973,971 - 974,a title just above queen happy mother number n...,2,2018-05-13 11:00:51+00:00
350689,381470,Sun May 13 18:12:41 +0000 2018,9.957286e+17,en,22.281948,114.159555,"The arts, quite simply, nourish the soul. They...",Abu Dhabi,False,https://t.co/C1PN8xah1e,...,2018-05-14 02:06:41+08:00,2018,5,2018_5,14,123,121 and 123 - 124,the quite simply nourish the soul they sustain...,2,2018-05-13 18:12:41+00:00
350866,381660,Mon May 14 10:46:59 +0000 2018,9.959788e+17,en,22.294422,114.165078,it's about to be on ..\r\r\r\r\r\r\r\n#hongkon...,Abu Dhabi,False,https://t.co/wT9lMgOk9l,...,2018-05-14 18:40:59+08:00,2018,5,2018_5,14,211,211,it s about to be on repeated hong kong view ph...,1,2018-05-14 10:46:59+00:00

In [31]:
data_2=data_1[data_1.time_zone=='Abu Dhabi']
data_2['date']

1246     2016-05-08 19:42:57+00:00
1254     2016-05-08 21:20:20+00:00
3007     2016-05-12 08:04:44+00:00
3715     2016-05-13 09:07:09+00:00
4297     2016-05-14 06:37:43+00:00
                    ...
349252   2018-05-09 18:43:15+00:00
349375   2018-05-10 07:08:36+00:00
350534   2018-05-13 11:00:51+00:00
350689   2018-05-13 18:12:41+00:00
350866   2018-05-14 10:46:59+00:00
Name: date, Length: 975, dtype: datetime64[ns, UTC]

In [32]:
data_2.tz_convert('hk_time')

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [33]:
data_2.tz_localize('UTC')

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [34]:
data_2[['date']]

                            date
1246   2016-05-08 19:42:57+00:00
1254   2016-05-08 21:20:20+00:00
3007   2016-05-12 08:04:44+00:00
3715   2016-05-13 09:07:09+00:00
4297   2016-05-14 06:37:43+00:00
...                          ...
349252 2018-05-09 18:43:15+00:00
349375 2018-05-10 07:08:36+00:00
350534 2018-05-13 11:00:51+00:00
350689 2018-05-13 18:12:41+00:00
350866 2018-05-14 10:46:59+00:00

[975 rows x 1 columns]

In [35]:
data_2[['date']].tz_localize('UTC')

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [37]:
data_2=data_1.set_index('date')

In [38]:
data_2.head(5)

,Unnamed: 0,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,...,verified,hk_time,year,month,month_plus_year,day,TPU_longitudinal,TPU_cross_sectional,cleaned_text,sentiment
date,,,,,,,,,,,,,,,,,,,,,
2016-05-07 06:18:59+00:00,0,Sat May 07 06:18:59 +0000 2016,7.288310e+17,en,22.278850,114.184620,#Working #Saturday #Afternoon! #Final #Touch i...,Hong Kong,False,https://t.co/q4GWk8nZFm,...,False,2016-05-07 14:12:59+08:00,2016,5,2016_5,7,146,146 - 147,working saturday afternoon final touch is on t...,1
2016-05-07 07:02:19+00:00,1,Sat May 07 07:02:19 +0000 2016,7.288420e+17,en,22.315302,113.934832,I'm at Hong Kong International Airport <U+9999...,Eastern Time (US & Canada),False,https://t.co/s1U275BtH4,...,False,2016-05-07 14:56:19+08:00,2016,5,2016_5,7,951,950 - 951,i am at hong kong international airport u numb...,1
2016-05-07 07:02:34+00:00,2,Sat May 07 07:02:34 +0000 2016,7.288420e+17,en,22.276808,113.916187,The cable car ride... #cablecar #mountain #360...,Kuala Lumpur,False,https://t.co/5vwsCLv80G,...,False,2016-05-07 14:56:34+08:00,2016,5,2016_5,7,943,941 - 943,the cable car ride repeated cable car mountain...,1
2016-05-07 07:03:11+00:00,3,Sat May 07 07:03:11 +0000 2016,7.288430e+17,en,22.275643,114.171174,Love Roses! <ed><U+00A0><U+00BD><ed><U+00B8><U...,Hong Kong,False,https://t.co/wTrbCG7H8T,...,False,2016-05-07 14:57:11+08:00,2016,5,2016_5,7,131,131,love üòç üòç üòç üåπ üå∑ üíê flower weekend saturday beaut...,2
2016-05-07 07:05:37+00:00,4,Sat May 07 07:05:37 +0000 2016,7.288430e+17,en,22.302772,114.011717,Preparing for a photo shoot #glamourshots #bla...,NaN,False,https://t.co/PEVkAoleNQ,...,False,2016-05-07 14:59:37+08:00,2016,5,2016_5,7,971,971 - 974,for a photo shoot glamour photo h beauty,2

In [39]:
data_2.index

DatetimeIndex(['2016-05-07 06:18:59+00:00', '2016-05-07 07:02:19+00:00',
               '2016-05-07 07:02:34+00:00', '2016-05-07 07:03:11+00:00',
               '2016-05-07 07:05:37+00:00', '2016-05-07 07:06:33+00:00',
               '2016-05-07 07:08:26+00:00', '2016-05-07 07:08:29+00:00',
               '2016-05-07 07:09:15+00:00', '2016-05-07 07:09:20+00:00',
               ...
               '2018-12-18 18:14:39+00:00', '2018-12-18 18:20:42+00:00',
               '2018-12-18 18:42:46+00:00', '2018-12-18 18:56:55+00:00',
               '2018-12-18 20:33:39+00:00', '2018-12-18 21:47:11+00:00',
               '2018-12-18 21:54:21+00:00', '2018-12-18 22:32:24+00:00',
               '2018-12-18 22:51:54+00:00', '2018-12-18 22:54:09+00:00'],
              dtype='datetime64[ns, UTC]', name='date', length=409626, freq=None)

In [43]:
data_2=data_2.tz_convert(tz='Hongkong')

In [44]:
data_2.head(5)

,Unnamed: 0,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,...,verified,hk_time,year,month,month_plus_year,day,TPU_longitudinal,TPU_cross_sectional,cleaned_text,sentiment
date,,,,,,,,,,,,,,,,,,,,,
2016-05-07 14:18:59+08:00,0,Sat May 07 06:18:59 +0000 2016,7.288310e+17,en,22.278850,114.184620,#Working #Saturday #Afternoon! #Final #Touch i...,Hong Kong,False,https://t.co/q4GWk8nZFm,...,False,2016-05-07 14:12:59+08:00,2016,5,2016_5,7,146,146 - 147,working saturday afternoon final touch is on t...,1
2016-05-07 15:02:19+08:00,1,Sat May 07 07:02:19 +0000 2016,7.288420e+17,en,22.315302,113.934832,I'm at Hong Kong International Airport <U+9999...,Eastern Time (US & Canada),False,https://t.co/s1U275BtH4,...,False,2016-05-07 14:56:19+08:00,2016,5,2016_5,7,951,950 - 951,i am at hong kong international airport u numb...,1
2016-05-07 15:02:34+08:00,2,Sat May 07 07:02:34 +0000 2016,7.288420e+17,en,22.276808,113.916187,The cable car ride... #cablecar #mountain #360...,Kuala Lumpur,False,https://t.co/5vwsCLv80G,...,False,2016-05-07 14:56:34+08:00,2016,5,2016_5,7,943,941 - 943,the cable car ride repeated cable car mountain...,1
2016-05-07 15:03:11+08:00,3,Sat May 07 07:03:11 +0000 2016,7.288430e+17,en,22.275643,114.171174,Love Roses! <ed><U+00A0><U+00BD><ed><U+00B8><U...,Hong Kong,False,https://t.co/wTrbCG7H8T,...,False,2016-05-07 14:57:11+08:00,2016,5,2016_5,7,131,131,love üòç üòç üòç üåπ üå∑ üíê flower weekend saturday beaut...,2
2016-05-07 15:05:37+08:00,4,Sat May 07 07:05:37 +0000 2016,7.288430e+17,en,22.302772,114.011717,Preparing for a photo shoot #glamourshots #bla...,NaN,False,https://t.co/PEVkAoleNQ,...,False,2016-05-07 14:59:37+08:00,2016,5,2016_5,7,971,971 - 974,for a photo shoot glamour photo h beauty,2

In [46]:
data_2.to_csv('D:\\RA-Tasks\\1 Graph neural network_POI\\Task1\\Process\\out.csv')

KeyboardInterrupt:

Exception ignored in: 'pandas._libs.tslibs.timezones.is_utc_zoneinfo'
Traceback (most recent call last):
  File "D:\Software-Gao\Python\lib\zoneinfo\_common.py", line 12, in load_tzdata
    return importlib.resources.open_binary(package_name, resource_name)
  File "D:\Software-Gao\Python\lib\importlib\resources.py", line 43, in open_binary
    package = _common.get_package(package)
  File "D:\Software-Gao\Python\lib\importlib\_common.py", line 66, in get_package
    resolved = resolve(package)
  File "D:\Software-Gao\Python\lib\importlib\_common.py", line 57, in resolve
    return cand if isinstance(cand, types.ModuleType) else importlib.import_module(cand)
  File "D:\Software-Gao\Python\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 992, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1002, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 945, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1439, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1411, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1544, in find_spec
  File "<frozen importlib._bootstrap_external>", line 147, in _path_stat
KeyboardInterrupt:

KeyboardInterrupt:

Exception ignored in: 'pandas._libs.tslibs.timezones.is_utc_zoneinfo'
Traceback (most recent call last):
  File "D:\Software-Gao\Python\lib\zoneinfo\_common.py", line 12, in load_tzdata
    return importlib.resources.open_binary(package_name, resource_name)
  File "D:\Software-Gao\Python\lib\importlib\resources.py", line 43, in open_binary
    package = _common.get_package(package)
  File "D:\Software-Gao\Python\lib\importlib\_common.py", line 66, in get_package
    resolved = resolve(package)
  File "D:\Software-Gao\Python\lib\importlib\_common.py", line 57, in resolve
    return cand if isinstance(cand, types.ModuleType) else importlib.import_module(cand)
  File "D:\Software-Gao\Python\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 992, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1002, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 945, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1439, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1411, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1544, in find_spec
  File "<frozen importlib._bootstrap_external>", line 147, in _path_stat
KeyboardInterrupt:

KeyboardInterrupt:

Exception ignored in: 'pandas._libs.tslibs.timezones.is_utc_zoneinfo'
Traceback (most recent call last):
  File "D:\Software-Gao\Python\lib\zoneinfo\_common.py", line 12, in load_tzdata
    return importlib.resources.open_binary(package_name, resource_name)
  File "D:\Software-Gao\Python\lib\importlib\resources.py", line 43, in open_binary
    package = _common.get_package(package)
  File "D:\Software-Gao\Python\lib\importlib\_common.py", line 66, in get_package
    resolved = resolve(package)
  File "D:\Software-Gao\Python\lib\importlib\_common.py", line 57, in resolve
    return cand if isinstance(cand, types.ModuleType) else importlib.import_module(cand)
  File "D:\Software-Gao\Python\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 992, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1002, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 945, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1439, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1411, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1544, in find_spec
  File "<frozen importlib._bootstrap_external>", line 147, in _path_stat
KeyboardInterrupt:

KeyboardInterrupt:

Exception ignored in: 'pandas._libs.tslibs.timezones.is_utc_zoneinfo'
Traceback (most recent call last):
  File "D:\Software-Gao\Python\lib\zoneinfo\_common.py", line 12, in load_tzdata
    return importlib.resources.open_binary(package_name, resource_name)
  File "D:\Software-Gao\Python\lib\importlib\resources.py", line 43, in open_binary
    package = _common.get_package(package)
  File "D:\Software-Gao\Python\lib\importlib\_common.py", line 66, in get_package
    resolved = resolve(package)
  File "D:\Software-Gao\Python\lib\importlib\_common.py", line 57, in resolve
    return cand if isinstance(cand, types.ModuleType) else importlib.import_module(cand)
  File "D:\Software-Gao\Python\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 992, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1002, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 945, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1439, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1411, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1544, in find_spec
  File "<frozen importlib._bootstrap_external>", line 147, in _path_stat
KeyboardInterrupt:

KeyboardInterrupt:

Exception ignored in: 'pandas._libs.tslibs.timezones.is_utc_zoneinfo'
Traceback (most recent call last):
  File "D:\Software-Gao\Python\lib\zoneinfo\_common.py", line 12, in load_tzdata
    return importlib.resources.open_binary(package_name, resource_name)
  File "D:\Software-Gao\Python\lib\importlib\resources.py", line 43, in open_binary
    package = _common.get_package(package)
  File "D:\Software-Gao\Python\lib\importlib\_common.py", line 66, in get_package
    resolved = resolve(package)
  File "D:\Software-Gao\Python\lib\importlib\_common.py", line 57, in resolve
    return cand if isinstance(cand, types.ModuleType) else importlib.import_module(cand)
  File "D:\Software-Gao\Python\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 992, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1002, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 945, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1439, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1411, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1544, in find_spec
  File "<frozen importlib._bootstrap_external>", line 147, in _path_stat
KeyboardInterrupt:

In [47]:
data_2.groupby(['timezone'],dropna=False)

KeyError: 'timezone'

In [48]:
data_3=data_1.set_index('date')

In [49]:
data_3.head(5)

,Unnamed: 0,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,...,verified,hk_time,year,month,month_plus_year,day,TPU_longitudinal,TPU_cross_sectional,cleaned_text,sentiment
date,,,,,,,,,,,,,,,,,,,,,
2016-05-07 06:18:59+00:00,0,Sat May 07 06:18:59 +0000 2016,7.288310e+17,en,22.278850,114.184620,#Working #Saturday #Afternoon! #Final #Touch i...,Hong Kong,False,https://t.co/q4GWk8nZFm,...,False,2016-05-07 14:12:59+08:00,2016,5,2016_5,7,146,146 - 147,working saturday afternoon final touch is on t...,1
2016-05-07 07:02:19+00:00,1,Sat May 07 07:02:19 +0000 2016,7.288420e+17,en,22.315302,113.934832,I'm at Hong Kong International Airport <U+9999...,Eastern Time (US & Canada),False,https://t.co/s1U275BtH4,...,False,2016-05-07 14:56:19+08:00,2016,5,2016_5,7,951,950 - 951,i am at hong kong international airport u numb...,1
2016-05-07 07:02:34+00:00,2,Sat May 07 07:02:34 +0000 2016,7.288420e+17,en,22.276808,113.916187,The cable car ride... #cablecar #mountain #360...,Kuala Lumpur,False,https://t.co/5vwsCLv80G,...,False,2016-05-07 14:56:34+08:00,2016,5,2016_5,7,943,941 - 943,the cable car ride repeated cable car mountain...,1
2016-05-07 07:03:11+00:00,3,Sat May 07 07:03:11 +0000 2016,7.288430e+17,en,22.275643,114.171174,Love Roses! <ed><U+00A0><U+00BD><ed><U+00B8><U...,Hong Kong,False,https://t.co/wTrbCG7H8T,...,False,2016-05-07 14:57:11+08:00,2016,5,2016_5,7,131,131,love üòç üòç üòç üåπ üå∑ üíê flower weekend saturday beaut...,2
2016-05-07 07:05:37+00:00,4,Sat May 07 07:05:37 +0000 2016,7.288430e+17,en,22.302772,114.011717,Preparing for a photo shoot #glamourshots #bla...,NaN,False,https://t.co/PEVkAoleNQ,...,False,2016-05-07 14:59:37+08:00,2016,5,2016_5,7,971,971 - 974,for a photo shoot glamour photo h beauty,2

In [50]:
data_1.to_csv('D:\\RA-Tasks\\1 Graph neural network_POI\\Task1\\Process\\date_out.csv')

In [51]:
df=pd.read_csv('D:\\RA-Tasks\\1 Graph neural network_POI\\Task1\\Process\\date_out.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_1516\3627721383.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('D:\\RA-Tasks\\1 Graph neural network_POI\\Task1\\Process\\date_out.csv')

In [52]:
df.head(5)

,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,user_created_at,user_id_str,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess
0,Sat May 07 06:18:59 +0000 2016,7.290000e+17,en,22.278850,114.184620,#Working #Saturday #Afternoon! #Final #Touch i...,Hong Kong,False,https://t.co/q4GWk8nZFm,Fri Jun 12 04:48:36 +0000 2009,46583766.0,en,http://www.facebook.com/derekhysteric525,False,146,146 - 147,working saturday afternoon final touch is on t...,2016-05-07 06:18:59+00:00,2016-05-07 06:18:59
1,Sat May 07 07:02:19 +0000 2016,7.290000e+17,en,22.315302,113.934832,I'm at Hong Kong International Airport <U+9999...,Eastern Time (US & Canada),False,https://t.co/s1U275BtH4,Mon Jul 27 02:58:20 +0000 2009,60469721.0,en,http://manishmaurya89.blogspot.com/?m=1,False,951,950 - 951,i am at hong kong international airport u numb...,2016-05-07 07:02:19+00:00,2016-05-07 07:02:19
2,Sat May 07 07:02:34 +0000 2016,7.290000e+17,en,22.276808,113.916187,The cable car ride... #cablecar #mountain #360...,Kuala Lumpur,False,https://t.co/5vwsCLv80G,Thu Feb 19 05:16:04 +0000 2009,21278240.0,en,http://kotakitam.wordpress.com,False,943,941 - 943,the cable car ride repeated cable car mountain...,2016-05-07 07:02:34+00:00,2016-05-07 07:02:34
3,Sat May 07 07:03:11 +0000 2016,7.290000e+17,en,22.275643,114.171174,Love Roses! <ed><U+00A0><U+00BD><ed><U+00B8><U...,Hong Kong,False,https://t.co/wTrbCG7H8T,Tue May 19 22:04:58 +0000 2009,41223671.0,en,http://www.denkipenki.vsco.co,False,131,131,love üòç üòç üòç üåπ üå∑ üíê flower weekend saturday beaut...,2016-05-07 07:03:11+00:00,2016-05-07 07:03:11
4,Sat May 07 07:05:37 +0000 2016,7.290000e+17,en,22.302772,114.011717,Preparing for a photo shoot #glamourshots #bla...,NaN,False,https://t.co/PEVkAoleNQ,Sun Sep 30 03:33:15 +0000 2012,854043475.0,en,http://about.me/natalia.segura,False,971,971 - 974,for a photo shoot glamour photo h beauty,2016-05-07 07:05:37+00:00,2016-05-07 07:05:37

In [53]:
if df['time_zone']=='Abu Dhabi':
    df['HK_date']=df['date']+4

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [54]:
df['time_zone']

0                          Hong Kong
1         Eastern Time (US & Canada)
2                       Kuala Lumpur
3                          Hong Kong
4                                NaN
                     ...
409621                           NaN
409622                           NaN
409623                           NaN
409624                           NaN
409625                           NaN
Name: time_zone, Length: 409626, dtype: object

In [55]:
df['time_zone']=='Abu Dhabi'

0         False
1         False
2         False
3         False
4         False
          ...
409621    False
409622    False
409623    False
409624    False
409625    False
Name: time_zone, Length: 409626, dtype: bool

In [56]:
if df['time_zone']=='Abu Dhabi':
    df['new_hk_datetime'] = df['date'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [57]:
df['date']

0         2016-05-07 06:18:59+00:00
1         2016-05-07 07:02:19+00:00
2         2016-05-07 07:02:34+00:00
3         2016-05-07 07:03:11+00:00
4         2016-05-07 07:05:37+00:00
                    ...
409621    2018-12-18 21:47:11+00:00
409622    2018-12-18 21:54:21+00:00
409623    2018-12-18 22:32:24+00:00
409624    2018-12-18 22:51:54+00:00
409625    2018-12-18 22:54:09+00:00
Name: date, Length: 409626, dtype: object

In [58]:
df['date_secondprocess']

0         2016-05-07 06:18:59
1         2016-05-07 07:02:19
2         2016-05-07 07:02:34
3         2016-05-07 07:03:11
4         2016-05-07 07:05:37
                 ...
409621    2018-12-18 21:47:11
409622    2018-12-18 21:54:21
409623    2018-12-18 22:32:24
409624    2018-12-18 22:51:54
409625    2018-12-18 22:54:09
Name: date_secondprocess, Length: 409626, dtype: object

In [59]:
df['date_thirdprocess']= pd.to_datetime(df['date_secondprocess'])

In [60]:
df['date_thirdprocess']

0        2016-05-07 06:18:59
1        2016-05-07 07:02:19
2        2016-05-07 07:02:34
3        2016-05-07 07:03:11
4        2016-05-07 07:05:37
                 ...
409621   2018-12-18 21:47:11
409622   2018-12-18 21:54:21
409623   2018-12-18 22:32:24
409624   2018-12-18 22:51:54
409625   2018-12-18 22:54:09
Name: date_thirdprocess, Length: 409626, dtype: datetime64[ns]

In [64]:
df.head(5)

,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,user_created_at,user_id_str,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess
0,Sat May 07 06:18:59 +0000 2016,7.290000e+17,en,22.278850,114.184620,#Working #Saturday #Afternoon! #Final #Touch i...,Hong Kong,False,https://t.co/q4GWk8nZFm,Fri Jun 12 04:48:36 +0000 2009,46583766.0,en,http://www.facebook.com/derekhysteric525,False,146,146 - 147,working saturday afternoon final touch is on t...,2016-05-07 06:18:59+00:00,2016-05-07 06:18:59,2016-05-07 06:18:59
1,Sat May 07 07:02:19 +0000 2016,7.290000e+17,en,22.315302,113.934832,I'm at Hong Kong International Airport <U+9999...,Eastern Time (US & Canada),False,https://t.co/s1U275BtH4,Mon Jul 27 02:58:20 +0000 2009,60469721.0,en,http://manishmaurya89.blogspot.com/?m=1,False,951,950 - 951,i am at hong kong international airport u numb...,2016-05-07 07:02:19+00:00,2016-05-07 07:02:19,2016-05-07 07:02:19
2,Sat May 07 07:02:34 +0000 2016,7.290000e+17,en,22.276808,113.916187,The cable car ride... #cablecar #mountain #360...,Kuala Lumpur,False,https://t.co/5vwsCLv80G,Thu Feb 19 05:16:04 +0000 2009,21278240.0,en,http://kotakitam.wordpress.com,False,943,941 - 943,the cable car ride repeated cable car mountain...,2016-05-07 07:02:34+00:00,2016-05-07 07:02:34,2016-05-07 07:02:34
3,Sat May 07 07:03:11 +0000 2016,7.290000e+17,en,22.275643,114.171174,Love Roses! <ed><U+00A0><U+00BD><ed><U+00B8><U...,Hong Kong,False,https://t.co/wTrbCG7H8T,Tue May 19 22:04:58 +0000 2009,41223671.0,en,http://www.denkipenki.vsco.co,False,131,131,love üòç üòç üòç üåπ üå∑ üíê flower weekend saturday beaut...,2016-05-07 07:03:11+00:00,2016-05-07 07:03:11,2016-05-07 07:03:11
4,Sat May 07 07:05:37 +0000 2016,7.290000e+17,en,22.302772,114.011717,Preparing for a photo shoot #glamourshots #bla...,NaN,False,https://t.co/PEVkAoleNQ,Sun Sep 30 03:33:15 +0000 2012,854043475.0,en,http://about.me/natalia.segura,False,971,971 - 974,for a photo shoot glamour photo h beauty,2016-05-07 07:05:37+00:00,2016-05-07 07:05:37,2016-05-07 07:05:37

In [106]:
df.loc[lambda df: df['time_zone'] == 'Abu Dhabi']['date_hk']= df.loc[lambda df: df['time_zone'] == 'Abu Dhabi']['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)
df.loc[lambda df: df['time_zone'] == 'Hong Kong']['date_hk']= df.loc[lambda df: df['time_zone'] == 'Hong Kong']['date_thirdprocess']+ pd.Timedelta(hours=0, minutes=0, seconds=0)

C:\Users\user\AppData\Local\Temp\ipykernel_1516\411352342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[lambda df: df['time_zone'] == 'Abu Dhabi']['date_hk']= df.loc[lambda df: df['time_zone'] == 'Abu Dhabi']['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\411352342.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[lambda df: df['time_zone'] == 'Hong Kong']['date_hk']= df.loc[lambda df: df['time_zone'] == 'Hong Kong']['date_thirdprocess']+ pd.Timedelta(hours=0, minutes=0, seconds=0)

In [107]:
df.head(5)

,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,user_created_at,...,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk
0,Sat May 07 06:18:59 +0000 2016,7.290000e+17,en,22.278850,114.184620,#Working #Saturday #Afternoon! #Final #Touch i...,Hong Kong,False,https://t.co/q4GWk8nZFm,Fri Jun 12 04:48:36 +0000 2009,...,en,http://www.facebook.com/derekhysteric525,False,146,146 - 147,working saturday afternoon final touch is on t...,2016-05-07 06:18:59+00:00,2016-05-07 06:18:59,2016-05-07 06:18:59,2016-05-07 10:18:59
1,Sat May 07 07:02:19 +0000 2016,7.290000e+17,en,22.315302,113.934832,I'm at Hong Kong International Airport <U+9999...,Eastern Time (US & Canada),False,https://t.co/s1U275BtH4,Mon Jul 27 02:58:20 +0000 2009,...,en,http://manishmaurya89.blogspot.com/?m=1,False,951,950 - 951,i am at hong kong international airport u numb...,2016-05-07 07:02:19+00:00,2016-05-07 07:02:19,2016-05-07 07:02:19,2016-05-07 11:02:19
2,Sat May 07 07:02:34 +0000 2016,7.290000e+17,en,22.276808,113.916187,The cable car ride... #cablecar #mountain #360...,Kuala Lumpur,False,https://t.co/5vwsCLv80G,Thu Feb 19 05:16:04 +0000 2009,...,en,http://kotakitam.wordpress.com,False,943,941 - 943,the cable car ride repeated cable car mountain...,2016-05-07 07:02:34+00:00,2016-05-07 07:02:34,2016-05-07 07:02:34,2016-05-07 11:02:34
3,Sat May 07 07:03:11 +0000 2016,7.290000e+17,en,22.275643,114.171174,Love Roses! <ed><U+00A0><U+00BD><ed><U+00B8><U...,Hong Kong,False,https://t.co/wTrbCG7H8T,Tue May 19 22:04:58 +0000 2009,...,en,http://www.denkipenki.vsco.co,False,131,131,love üòç üòç üòç üåπ üå∑ üíê flower weekend saturday beaut...,2016-05-07 07:03:11+00:00,2016-05-07 07:03:11,2016-05-07 07:03:11,2016-05-07 11:03:11
4,Sat May 07 07:05:37 +0000 2016,7.290000e+17,en,22.302772,114.011717,Preparing for a photo shoot #glamourshots #bla...,NaN,False,https://t.co/PEVkAoleNQ,Sun Sep 30 03:33:15 +0000 2012,...,en,http://about.me/natalia.segura,False,971,971 - 974,for a photo shoot glamour photo h beauty,2016-05-07 07:05:37+00:00,2016-05-07 07:05:37,2016-05-07 07:05:37,2016-05-07 11:05:37

In [79]:
if (df['time_zone']=='Abu Dhabi').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

if (df['time_zone']=='Adelaide').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=2, minutes=30, seconds=0)

if (df['time_zone']=='Alaska').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=17, minutes=0, seconds=0)

if (df['time_zone']=='Almaty').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=0, seconds=0)

if (df['time_zone']=='America/Anguilla').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

if (df['time_zone']=='America/Bogota').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

if (df['time_zone']=='America/Boise').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

if (df['time_zone']=='America/Chicago').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

if (df['time_zone']=='America/Denver').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

if (df['time_zone']=='America/Detroit').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

if (df['time_zone']=='America/Edmonton').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

if (df['time_zone']=='America/Los_Angeles').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)

if (df['time_zone']=='America/Mexico_City').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)



if (df['time_zone']=='America/New_York').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

if (df['time_zone']=='America/Toronto').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

if (df['time_zone']=='America/Vancouver').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)

if (df['time_zone']=='Amsterdam').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Arizona').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

if (df['time_zone']=='Asia/Bangkok').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='Asia/Calcutta').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

if (df['time_zone']=='Asia/Dubai').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

if (df['time_zone']=='Asia/Hong_Kong').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Asia/Jakarta').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='Asia/Jerusalem').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Asia/Kolkata').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

if (df['time_zone']=='Asia/Kuala_Lumpur').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Asia/Kuwait').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='Asia/Manila').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Asia/Shanghai').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Asia/Singapore').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Asia/Taipei').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Asia/Tokyo').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='Athens').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Atlantic Time (Canada)').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

if (df['time_zone']=='Atlantic/Madeira').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)

if (df['time_zone']=='Auckland').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='BST').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Baghdad').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='Baku').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

if (df['time_zone']=='Bangkok').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='Beijing').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Belgrade').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Berlin').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Bern').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Bogota').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

if (df['time_zone']=='Brasilia').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=11, minutes=0, seconds=0)

if (df['time_zone']=='Bratislava').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Brisbane').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=2, minutes=0, seconds=0)

if (df['time_zone']=='Brussels').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Bucharest').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Budapest').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Buenos Aires').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=11, minutes=0, seconds=0)

if (df['time_zone']=='Cairo').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Canada/Pacific').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)

if (df['time_zone']=='Canberra').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=3, minutes=0, seconds=0)

if (df['time_zone']=='Caracas').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

if (df['time_zone']=='Casablanca').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Central America').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

if (df['time_zone']=='Central Time (US & Canada)').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

if (df['time_zone']=='Chennai').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

if (df['time_zone']=='Chihuahua').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

if (df['time_zone']=='Chongqing').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Copenhagen').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Darwin').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=30, seconds=0)

if (df['time_zone']=='Dhaka').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=0, seconds=0)

if (df['time_zone']=='Dublin').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)

if (df['time_zone']=='Eastern Time (US & Canada)').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

if (df['time_zone']=='Edinburgh').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)
#but the name of the city is (Y)Ekaterinburg
if (df['time_zone']=='Ekaterinburg').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=3, minutes=0, seconds=0)

if (df['time_zone']=='Etc/UTC').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Europe/London').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)

if (df['time_zone']=='Europe/Madrid').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Fiji').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=4, minutes=0, seconds=0)

if (df['time_zone']=='GMT+3').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=3, minutes=0, seconds=0)

if (df['time_zone']=='GMT+7').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='GMT+8').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='GMT+9').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='GMT-4').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

if (df['time_zone']=='GMT-7').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

if (df['time_zone']=='Georgetown').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

if (df['time_zone']=='Greenland').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=11, minutes=0, seconds=0)

if (df['time_zone']=='Guadalajara').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

if (df['time_zone']=='Guam').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=2, minutes=0, seconds=0)

if (df['time_zone']=='Hanoi').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='Harare').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Hawaii').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=18, minutes=0, seconds=0)

if (df['time_zone']=='Helsinki').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Hobart').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=3, minutes=0, seconds=0)

if (df['time_zone']=='Hong Kong').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Indiana (East)').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

if (df['time_zone']=='International Date Line West').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=4, minutes=0, seconds=0)

if (df['time_zone']=='Irkutsk').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Islamabad').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=3, minutes=0, seconds=0)

if (df['time_zone']=='Istanbul').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='JST').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='Jakarta').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='Jerusalem').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Kabul').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=3, minutes=30, seconds=0)

if (df['time_zone']=='Kamchatka').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=4, minutes=0, seconds=0)

if (df['time_zone']=='Karachi').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=3, minutes=0, seconds=0)

if (df['time_zone']=='Kathmandu').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=15, seconds=0)

if (df['time_zone']=='Kiev').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Kolkata').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

if (df['time_zone']=='Krasnoyarsk').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='Kuala Lumpur').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Kuwait').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='Kyiv').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='La Paz').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

if (df['time_zone']=='Lima').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

if (df['time_zone']=='Lisbon').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)

if (df['time_zone']=='Ljubljana').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='London').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)

if (df['time_zone']=='Madrid').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Mazatlan').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

if (df['time_zone']=='Melbourne').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=3, minutes=0, seconds=0)

if (df['time_zone']=='Mexico City').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

if (df['time_zone']=='Mid-Atlantic').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

if (df['time_zone']=='Midway Island').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=19, minutes=0, seconds=0)

if (df['time_zone']=='Minsk').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='Monrovia').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)

if (df['time_zone']=='Monterrey').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

if (df['time_zone']=='Moscow').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='Mountain Time (US & Canada)').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

if (df['time_zone']=='Mumbai').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

if (df['time_zone']=='Muscat').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

if (df['time_zone']=='Nairobi').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='New Caledonia').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=3, minutes=0, seconds=0)

if (df['time_zone']=='New Delhi').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

if (df['time_zone']=='Newfoundland').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=11, minutes=30, seconds=0)

if (df['time_zone']=='Novosibirsk').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=="Nuku'alofa").any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='Osaka').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='PST').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)

if (df['time_zone']=='Pacific Time (US & Canada)').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)

if (df['time_zone']=='Paris').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Perth').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Prague').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Pretoria').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Quito').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

if (df['time_zone']=='Rangoon').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=30, seconds=0)

if (df['time_zone']=='Riga').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Riyadh').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='Rome').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Samoa').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='Santiago').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=11, minutes=0, seconds=0)

if (df['time_zone']=='Sapporo').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='Saskatchewan').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

if (df['time_zone']=='Seoul').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='Singapore').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Skopje').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Sofia').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Solomon Is.').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=3, minutes=0, seconds=0)

if (df['time_zone']=='Sri Jayawardenepura').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

if (df['time_zone']=='St. Petersburg').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='Stockholm').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Sydney').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=3, minutes=0, seconds=0)

if (df['time_zone']=='Taipei').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Tallinn').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Tashkent').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=3, minutes=0, seconds=0)

if (df['time_zone']=='Tehran').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=30, seconds=0)

if (df['time_zone']=='Tijuana').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)

if (df['time_zone']=='Tokyo').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='UTC').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Ulaan Bataar').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Urumqi').any():
    df['date_hk']= df['date_thirdprocess']

if (df['time_zone']=='Vienna').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Vilnius').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

if (df['time_zone']=='Vladivostok').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=2, minutes=0, seconds=0)

if (df['time_zone']=='Volgograd').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='Warsaw').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Wellington').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=5, minutes=0, seconds=0)

if (df['time_zone']=='West Central Africa').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

if (df['time_zone']=='Yakutsk').any():
    df['date_hk']= df['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

if (df['time_zone']=='Yerevan').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

if (df['time_zone']=='Zagreb').any():
    df['date_hk']= df['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

# Ââ©‰∏ãÁöÑÈÉΩÊòØNaNÂÄºÔºåÊöÇÂÆöËÆæÁΩÆ‰∏∫hktime
else:
    df['date_hk']= df['date_thirdprocess']

In [80]:
df.groupby(['time_zone']).count()

,created_at,id_str,lang,lat,lon,text,truncated,url,user_created_at,user_id_str,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk
time_zone,,,,,,,,,,,,,,,,,,,,
Abu Dhabi,975,975,975,975,975,975,975,975,975,975,975,688,975,975,975,975,975,975,975,975
Adelaide,160,160,160,160,160,160,160,156,160,160,160,56,160,160,160,160,160,160,160,160
Alaska,15068,15068,15068,15068,15068,15068,15068,14972,15068,15068,15068,6960,15068,15068,15068,15068,15068,15068,15068,15068
Almaty,8,8,8,8,8,8,8,8,8,8,8,6,8,8,8,8,8,8,8,8
America/Anguilla,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wellington,207,207,207,207,207,207,207,200,207,207,207,127,207,207,207,207,207,207,207,207
West Central Africa,77,77,77,77,77,77,77,77,77,77,77,45,77,77,77,77,77,77,77,77
Yakutsk,53,53,53,53,53,53,53,53,53,53,53,9,53,53,53,53,53,53,53,53
Yerevan,15,15,15,15,15,15,15,15,15,15,15,9,15,15,15,15,15,15,15,15
Zagreb,22,22,22,22,22,22,22,21,22,22,22,22,22,22,22,22,22,22,22,22

In [82]:
df.head(5)

,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,user_created_at,...,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk
0,Sat May 07 06:18:59 +0000 2016,7.290000e+17,en,22.278850,114.184620,#Working #Saturday #Afternoon! #Final #Touch i...,Hong Kong,False,https://t.co/q4GWk8nZFm,Fri Jun 12 04:48:36 +0000 2009,...,en,http://www.facebook.com/derekhysteric525,False,146,146 - 147,working saturday afternoon final touch is on t...,2016-05-07 06:18:59+00:00,2016-05-07 06:18:59,2016-05-07 06:18:59,2016-05-07 13:18:59
1,Sat May 07 07:02:19 +0000 2016,7.290000e+17,en,22.315302,113.934832,I'm at Hong Kong International Airport <U+9999...,Eastern Time (US & Canada),False,https://t.co/s1U275BtH4,Mon Jul 27 02:58:20 +0000 2009,...,en,http://manishmaurya89.blogspot.com/?m=1,False,951,950 - 951,i am at hong kong international airport u numb...,2016-05-07 07:02:19+00:00,2016-05-07 07:02:19,2016-05-07 07:02:19,2016-05-07 14:02:19
2,Sat May 07 07:02:34 +0000 2016,7.290000e+17,en,22.276808,113.916187,The cable car ride... #cablecar #mountain #360...,Kuala Lumpur,False,https://t.co/5vwsCLv80G,Thu Feb 19 05:16:04 +0000 2009,...,en,http://kotakitam.wordpress.com,False,943,941 - 943,the cable car ride repeated cable car mountain...,2016-05-07 07:02:34+00:00,2016-05-07 07:02:34,2016-05-07 07:02:34,2016-05-07 14:02:34
3,Sat May 07 07:03:11 +0000 2016,7.290000e+17,en,22.275643,114.171174,Love Roses! <ed><U+00A0><U+00BD><ed><U+00B8><U...,Hong Kong,False,https://t.co/wTrbCG7H8T,Tue May 19 22:04:58 +0000 2009,...,en,http://www.denkipenki.vsco.co,False,131,131,love üòç üòç üòç üåπ üå∑ üíê flower weekend saturday beaut...,2016-05-07 07:03:11+00:00,2016-05-07 07:03:11,2016-05-07 07:03:11,2016-05-07 14:03:11
4,Sat May 07 07:05:37 +0000 2016,7.290000e+17,en,22.302772,114.011717,Preparing for a photo shoot #glamourshots #bla...,NaN,False,https://t.co/PEVkAoleNQ,Sun Sep 30 03:33:15 +0000 2012,...,en,http://about.me/natalia.segura,False,971,971 - 974,for a photo shoot glamour photo h beauty,2016-05-07 07:05:37+00:00,2016-05-07 07:05:37,2016-05-07 07:05:37,2016-05-07 14:05:37

In [83]:
if (df['time_zone']=='Hong Kong').any():
    df['date_hk']= df['date_thirdprocess']

In [84]:
df.head(5)

,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,user_created_at,...,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk
0,Sat May 07 06:18:59 +0000 2016,7.290000e+17,en,22.278850,114.184620,#Working #Saturday #Afternoon! #Final #Touch i...,Hong Kong,False,https://t.co/q4GWk8nZFm,Fri Jun 12 04:48:36 +0000 2009,...,en,http://www.facebook.com/derekhysteric525,False,146,146 - 147,working saturday afternoon final touch is on t...,2016-05-07 06:18:59+00:00,2016-05-07 06:18:59,2016-05-07 06:18:59,2016-05-07 06:18:59
1,Sat May 07 07:02:19 +0000 2016,7.290000e+17,en,22.315302,113.934832,I'm at Hong Kong International Airport <U+9999...,Eastern Time (US & Canada),False,https://t.co/s1U275BtH4,Mon Jul 27 02:58:20 +0000 2009,...,en,http://manishmaurya89.blogspot.com/?m=1,False,951,950 - 951,i am at hong kong international airport u numb...,2016-05-07 07:02:19+00:00,2016-05-07 07:02:19,2016-05-07 07:02:19,2016-05-07 07:02:19
2,Sat May 07 07:02:34 +0000 2016,7.290000e+17,en,22.276808,113.916187,The cable car ride... #cablecar #mountain #360...,Kuala Lumpur,False,https://t.co/5vwsCLv80G,Thu Feb 19 05:16:04 +0000 2009,...,en,http://kotakitam.wordpress.com,False,943,941 - 943,the cable car ride repeated cable car mountain...,2016-05-07 07:02:34+00:00,2016-05-07 07:02:34,2016-05-07 07:02:34,2016-05-07 07:02:34
3,Sat May 07 07:03:11 +0000 2016,7.290000e+17,en,22.275643,114.171174,Love Roses! <ed><U+00A0><U+00BD><ed><U+00B8><U...,Hong Kong,False,https://t.co/wTrbCG7H8T,Tue May 19 22:04:58 +0000 2009,...,en,http://www.denkipenki.vsco.co,False,131,131,love üòç üòç üòç üåπ üå∑ üíê flower weekend saturday beaut...,2016-05-07 07:03:11+00:00,2016-05-07 07:03:11,2016-05-07 07:03:11,2016-05-07 07:03:11
4,Sat May 07 07:05:37 +0000 2016,7.290000e+17,en,22.302772,114.011717,Preparing for a photo shoot #glamourshots #bla...,NaN,False,https://t.co/PEVkAoleNQ,Sun Sep 30 03:33:15 +0000 2012,...,en,http://about.me/natalia.segura,False,971,971 - 974,for a photo shoot glamour photo h beauty,2016-05-07 07:05:37+00:00,2016-05-07 07:05:37,2016-05-07 07:05:37,2016-05-07 07:05:37

In [108]:
df1=df[df['time_zone']=='Abu Dhabi']

In [110]:
df1.head(5)

,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,user_created_at,...,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk
1246,Sun May 08 19:42:57 +0000 2016,7.290000e+17,en,22.280900,114.178000,Thanks again Hong Kong <ed><U+00A0><U+00BC><ed...,Abu Dhabi,False,https://t.co/TRE2EaWvgv,Fri Dec 05 03:50:04 +0000 2008,...,en,NaN,False,135,135,thanks again hong kong for more great to this ...,2016-05-08 19:42:57+00:00,2016-05-08 19:42:57,2016-05-08 19:42:57,2016-05-08 23:42:57
1254,Sun May 08 21:20:20 +0000 2016,7.290000e+17,en,22.314882,113.933372,It's that time again! <U+2708><U+FE0F> #HongKo...,Abu Dhabi,False,https://t.co/vT7Ig26Toy,Fri Dec 05 03:50:04 +0000 2008,...,en,NaN,False,951,950 - 951,it s that time again u number u hong kong taxi...,2016-05-08 21:20:20+00:00,2016-05-08 21:20:20,2016-05-08 21:20:20,2016-05-09 01:20:20
3007,Thu May 12 08:04:44 +0000 2016,7.310000e+17,en,22.280900,114.178000,Static | Behaviour \r\r\r\r\r\r\r\r\n\r\r\r\r\...,Abu Dhabi,False,https://t.co/eDeDOSdZ98,Sun Sep 04 11:14:07 +0000 2011,...,en,NaN,False,135,135,static behaviour china hong kong explore touri...,2016-05-12 08:04:44+00:00,2016-05-12 08:04:44,2016-05-12 08:04:44,2016-05-12 12:04:44
3715,Fri May 13 09:07:09 +0000 2016,7.310000e+17,en,22.339341,114.204015,The Nan lian garden at Diamond Hill in Hong Ko...,Abu Dhabi,False,https://t.co/UIu8LKGJR5,Tue Sep 28 10:15:24 +0000 2010,...,en,NaN,False,281,281,the nan garden at diamond hill in hong kong a ...,2016-05-13 09:07:09+00:00,2016-05-13 09:07:09,2016-05-13 09:07:09,2016-05-13 13:07:09
4297,Sat May 14 06:37:43 +0000 2016,7.310000e+17,en,22.313420,114.043526,Advance birthday treat from my sister. <U+2764...,Abu Dhabi,False,https://t.co/KIIE6Twnx4,Mon Sep 14 19:15:36 +0000 2009,...,en,NaN,False,973,971 - 974,advance birthday treat from my sister u number...,2016-05-14 06:37:43+00:00,2016-05-14 06:37:43,2016-05-14 06:37:43,2016-05-14 10:37:43

In [111]:
df1['date_hk']= df1['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

C:\Users\user\AppData\Local\Temp\ipykernel_1516\2716740053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['date_hk']= df1['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

In [112]:
# df1=df[df['time_zone'] == 'Abu Dhabi']
# df1['date_hk'] = df1['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

df2=df[df['time_zone'] == 'Adelaide']
df2['date_hk'] = df2['date_thirdprocess'] - pd.Timedelta(hours=2, minutes=30, seconds=0)

df3=df[df['time_zone'] == 'Alaska']
df3['date_hk'] = df3['date_thirdprocess'] + pd.Timedelta(hours=17, minutes=0, seconds=0)

df4=df[df['time_zone'] == 'Almaty']
df4['date_hk'] = df4['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=0, seconds=0)

df5=df[df['time_zone'] == 'America/Anguilla']
df5['date_hk'] = df5['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

df6=df[df['time_zone'] == 'America/Bogota']
df6['date_hk'] = df6['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

df7=df[df['time_zone'] == 'America/Boise']
df7['date_hk'] = df7['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

df8=df[df['time_zone'] == 'America/Chicago']
df8['date_hk'] = df8['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

df9=df[df['time_zone'] == 'America/Denver']
df9['date_hk'] = df9['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

df10=df[df['time_zone'] == 'America/Detroit']
df10['date_hk'] = df10['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

df11=df[df['time_zone'] == 'America/Edmonton']
df11['date_hk'] = df11['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

df12=df[df['time_zone'] == 'America/Los_Angeles']
df12['date_hk'] = df12['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)

df13=df[df['time_zone'] == 'America/Mexico_City']
df13['date_hk'] = df13['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

df14=df[df['time_zone'] == 'America/New_York']
df14['date_hk'] = df14['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

df15=df[df['time_zone'] == 'America/Toronto']
df15['date_hk'] = df15['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

df16=df[df['time_zone'] == 'America/Vancouver']
df16['date_hk'] = df16['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)

df17=df[df['time_zone'] == 'Amsterdam']
df17['date_hk'] = df17['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df18=df[df['time_zone'] == 'Arizona']
df18['date_hk'] = df18['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

df19=df[df['time_zone'] == 'Asia/Bangkok']
df19['date_hk'] = df19['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

df20=df[df['time_zone'] == 'Asia/Calcutta']
df20['date_hk'] = df20['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

df21=df[df['time_zone'] == 'Asia/Dubai']
df21['date_hk'] = df21['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

df22=df[df['time_zone'] == 'Asia/Hong_Kong']
df22['date_hk'] = df22['date_thirdprocess']

df23=df[df['time_zone'] == 'Asia/Jakarta']
df23['date_hk'] = df23['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

df24=df[df['time_zone'] == 'Asia/Jerusalem']
df24['date_hk'] = df24['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df25=df[df['time_zone'] == 'Asia/Kolkata']
df25['date_hk'] = df25['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

df26=df[df['time_zone'] == 'Asia/Kuala_Lumpur']
df26['date_hk'] = df26['date_thirdprocess']

df27=df[df['time_zone'] == 'Asia/Kuwait']
df27['date_hk'] = df27['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

df28=df[df['time_zone'] == 'Asia/Manila']
df28['date_hk'] = df28['date_thirdprocess']

df29=df[df['time_zone'] == 'Asia/Shanghai']
df29['date_hk'] = df29['date_thirdprocess']

df30=df[df['time_zone'] == 'Asia/Singapore']
df30['date_hk'] = df30['date_thirdprocess']

df31=df[df['time_zone'] == 'Asia/Taipei']
df31['date_hk'] = df31['date_thirdprocess']

df32=df[df['time_zone'] == 'Asia/Tokyo']
df32['date_hk'] = df32['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

df33=df[df['time_zone'] == 'Athens']
df33['date_hk'] = df33['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df34=df[df['time_zone'] == 'Atlantic Time (Canada)']
df34['date_hk'] = df34['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

df35=df[df['time_zone'] == 'Atlantic/Madeira']
df35['date_hk'] = df35['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)

df36=df[df['time_zone'] == 'Auckland']
df36['date_hk'] = df36['date_thirdprocess'] - pd.Timedelta(hours=5, minutes=0, seconds=0)

df37=df[df['time_zone'] == 'BST']
df37['date_hk'] = df37['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df38=df[df['time_zone'] == 'Baghdad']
df38['date_hk'] = df38['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

df39=df[df['time_zone'] == 'Baku']
df39['date_hk'] = df39['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

df40=df[df['time_zone'] == 'Bangkok']
df40['date_hk'] = df40['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

df41=df[df['time_zone'] == 'Beijing']
df41['date_hk'] = df41['date_thirdprocess']

df42=df[df['time_zone'] == 'Belgrade']
df42['date_hk'] = df42['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df43=df[df['time_zone'] == 'Berlin']
df43['date_hk'] = df43['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df44=df[df['time_zone'] == 'Bern']
df44['date_hk'] = df44['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df45=df[df['time_zone'] == 'Bogota']
df45['date_hk'] = df45['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

df46=df[df['time_zone'] == 'Brasilia']
df46['date_hk'] = df46['date_thirdprocess'] + pd.Timedelta(hours=11, minutes=0, seconds=0)

df47=df[df['time_zone'] == 'Bratislava']
df47['date_hk'] = df47['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df48=df[df['time_zone'] == 'Brisbane']
df48['date_hk'] = df48['date_thirdprocess'] - pd.Timedelta(hours=2, minutes=0, seconds=0)

df49=df[df['time_zone'] == 'Brussels']
df49['date_hk'] = df49['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df50=df[df['time_zone'] == 'Bucharest']
df50['date_hk'] = df50['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df51=df[df['time_zone'] == 'Budapest']
df51['date_hk'] = df51['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df52=df[df['time_zone'] == 'Buenos Aires']
df52['date_hk'] = df52['date_thirdprocess'] + pd.Timedelta(hours=11, minutes=0, seconds=0)

df53=df[df['time_zone'] == 'Cairo']
df53['date_hk'] = df53['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df54=df[df['time_zone'] == 'Canada/Pacific']
df54['date_hk'] = df54['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)

df55=df[df['time_zone'] == 'Canberra']
df55['date_hk'] = df55['date_thirdprocess'] - pd.Timedelta(hours=3, minutes=0, seconds=0)

df56=df[df['time_zone'] == 'Caracas']
df56['date_hk'] = df56['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

df57=df[df['time_zone'] == 'Casablanca']
df57['date_hk'] = df57['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df58=df[df['time_zone'] == 'Central America']
df58['date_hk'] = df58['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

df59=df[df['time_zone'] == 'Central Time (US & Canada)']
df59['date_hk'] = df59['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

df60=df[df['time_zone'] == 'Chennai']
df60['date_hk'] = df60['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

df61=df[df['time_zone'] == 'Chihuahua']
df61['date_hk'] = df61['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

df62=df[df['time_zone'] == 'Chongqing']
df62['date_hk'] = df62['date_thirdprocess']

df63=df[df['time_zone'] == 'Copenhagen']
df63['date_hk'] = df63['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df64=df[df['time_zone'] == 'Darwin']
df64['date_hk'] = df64['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=30, seconds=0)

df65=df[df['time_zone'] == 'Dhaka']
df65['date_hk'] = df65['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=0, seconds=0)

df66=df[df['time_zone'] == 'Dublin']
df66['date_hk'] = df66['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)

df67=df[df['time_zone'] == 'Eastern Time (US & Canada)']
df67['date_hk'] = df67['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

df68=df[df['time_zone'] == 'Edinburgh']
df68['date_hk'] = df68['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)
#but the name of the city is (Y)Ekaterinburg
df69=df[df['time_zone'] == 'Ekaterinburg']
df69['date_hk'] = df69['date_thirdprocess'] + pd.Timedelta(hours=3, minutes=0, seconds=0)

df70=df[df['time_zone'] == 'Etc/UTC']
df70['date_hk'] = df70['date_thirdprocess']

df71=df[df['time_zone'] == 'Europe/London']
df71['date_hk'] = df71['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)

df72=df[df['time_zone'] == 'Europe/Madrid']
df72['date_hk'] = df72['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df73=df[df['time_zone'] == 'Fiji']
df73['date_hk'] = df73['date_thirdprocess'] - pd.Timedelta(hours=4, minutes=0, seconds=0)

df74=df[df['time_zone'] == 'GMT+3']
df74['date_hk'] = df74['date_thirdprocess'] + pd.Timedelta(hours=3, minutes=0, seconds=0)

df75=df[df['time_zone'] == 'GMT+7']
df75['date_hk'] = df75['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

df76=df[df['time_zone'] == 'GMT+8']
df76['date_hk'] = df76['date_thirdprocess']

df77=df[df['time_zone'] == 'GMT+9']
df77['date_hk'] = df77['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

df78=df[df['time_zone'] == 'GMT-4']
df78['date_hk'] = df78['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

df79=df[df['time_zone'] == 'GMT-7']
df79['date_hk'] = df79['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

df80=df[df['time_zone'] == 'Georgetown']
df80['date_hk'] = df80['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

df81=df[df['time_zone'] == 'Greenland']
df81['date_hk'] = df81['date_thirdprocess'] + pd.Timedelta(hours=11, minutes=0, seconds=0)

df82=df[df['time_zone'] == 'Guadalajara']
df82['date_hk'] = df82['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

df83=df[df['time_zone'] == 'Guam']
df83['date_hk'] = df83['date_thirdprocess'] - pd.Timedelta(hours=2, minutes=0, seconds=0)

df84=df[df['time_zone'] == 'Hanoi']
df84['date_hk'] = df84['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

df85=df[df['time_zone'] == 'Harare']
df85['date_hk'] = df85['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df86=df[df['time_zone'] == 'Hawaii']
df86['date_hk'] = df86['date_thirdprocess'] + pd.Timedelta(hours=18, minutes=0, seconds=0)

df87=df[df['time_zone'] == 'Helsinki']
df87['date_hk'] = df87['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df88=df[df['time_zone'] == 'Hobart']
df88['date_hk'] = df88['date_thirdprocess'] - pd.Timedelta(hours=3, minutes=0, seconds=0)

df89=df[df['time_zone'] == 'Hong Kong']
df89['date_hk'] = df89['date_thirdprocess']

df90=df[df['time_zone'] == 'Indiana (East)']
df90['date_hk'] = df90['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

df91=df[df['time_zone'] == 'International Date Line West']
df91['date_hk'] = df91['date_thirdprocess'] - pd.Timedelta(hours=4, minutes=0, seconds=0)

df92=df[df['time_zone'] == 'Irkutsk']
df92['date_hk'] = df92['date_thirdprocess']

df93=df[df['time_zone'] == 'Islamabad']
df93['date_hk'] = df93['date_thirdprocess'] + pd.Timedelta(hours=3, minutes=0, seconds=0)

df94=df[df['time_zone'] == 'Istanbul']
df94['date_hk'] = df94['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

df95=df[df['time_zone'] == 'JST']
df95['date_hk'] = df95['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

df96=df[df['time_zone'] == 'Jakarta']
df96['date_hk'] = df96['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

df97=df[df['time_zone'] == 'Jerusalem']
df97['date_hk'] = df97['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df98=df[df['time_zone'] == 'Kabul']
df98['date_hk'] = df98['date_thirdprocess'] + pd.Timedelta(hours=3, minutes=30, seconds=0)

df99=df[df['time_zone'] == 'Kamchatka']
df99['date_hk'] = df99['date_thirdprocess'] - pd.Timedelta(hours=4, minutes=0, seconds=0)

df100=df[df['time_zone'] == 'Karachi']
df100['date_hk'] = df100['date_thirdprocess'] + pd.Timedelta(hours=3, minutes=0, seconds=0)

df101=df[df['time_zone'] == 'Kathmandu']
df101['date_hk'] = df101['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=15, seconds=0)

df102=df[df['time_zone'] == 'Kiev']
df102['date_hk'] = df102['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df103=df[df['time_zone'] == 'Kolkata']
df103['date_hk'] = df103['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

df104=df[df['time_zone'] == 'Krasnoyarsk']
df104['date_hk'] = df104['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

df105=df[df['time_zone'] == 'Kuala Lumpur']
df105['date_hk'] = df105['date_thirdprocess']

df106=df[df['time_zone'] == 'Kuwait']
df106['date_hk'] = df106['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

df107=df[df['time_zone'] == 'Kyiv']
df107['date_hk'] = df107['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df108=df[df['time_zone'] == 'La Paz']
df108['date_hk'] = df108['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

df109=df[df['time_zone'] == 'Lima']
df109['date_hk'] = df109['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

df110=df[df['time_zone'] == 'Lisbon']
df110['date_hk'] = df110['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)

df111=df[df['time_zone'] == 'Ljubljana']
df111['date_hk'] = df111['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df112=df[df['time_zone'] == 'London']
df112['date_hk'] = df112['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)

df113=df[df['time_zone'] == 'Madrid']
df113['date_hk'] = df113['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df114=df[df['time_zone'] == 'Mazatlan']
df114['date_hk'] = df114['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

df115=df[df['time_zone'] == 'Melbourne']
df115['date_hk'] = df115['date_thirdprocess'] - pd.Timedelta(hours=3, minutes=0, seconds=0)

df116=df[df['time_zone'] == 'Mexico City']
df116['date_hk'] = df116['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

df117=df[df['time_zone'] == 'Mid-Atlantic']
df117['date_hk'] = df117['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)

df118=df[df['time_zone'] == 'Midway Island']
df118['date_hk'] = df118['date_thirdprocess'] + pd.Timedelta(hours=19, minutes=0, seconds=0)

df119=df[df['time_zone'] == 'Minsk']
df119['date_hk'] = df119['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

df120=df[df['time_zone'] == 'Monrovia']
df120['date_hk'] = df120['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)

df121=df[df['time_zone'] == 'Monterrey']
df121['date_hk'] = df121['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

df122=df[df['time_zone'] == 'Moscow']
df122['date_hk'] = df122['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

df123=df[df['time_zone'] == 'Mountain Time (US & Canada)']
df123['date_hk'] = df123['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)

df124=df[df['time_zone'] == 'Mumbai']
df124['date_hk'] = df124['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

df125=df[df['time_zone'] == 'Muscat']
df125['date_hk'] = df125['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

df126=df[df['time_zone'] == 'Nairobi']
df126['date_hk'] = df126['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

df127=df[df['time_zone'] == 'New Caledonia']
df127['date_hk'] = df127['date_thirdprocess'] - pd.Timedelta(hours=3, minutes=0, seconds=0)

df128=df[df['time_zone'] == 'New Delhi']
df128['date_hk'] = df128['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

df129=df[df['time_zone'] == 'Newfoundland']
df129['date_hk'] = df129['date_thirdprocess'] + pd.Timedelta(hours=11, minutes=30, seconds=0)

df130=df[df['time_zone'] == 'Novosibirsk']
df130['date_hk'] = df130['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)

df131=df[df['time_zone'] == "Nuku'alofa"]
df131['date_hk'] = df131['date_thirdprocess'] - pd.Timedelta(hours=5, minutes=0, seconds=0)

df132=df[df['time_zone'] == 'Osaka']
df132['date_hk'] = df132['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

df133=df[df['time_zone'] == 'PST']
df133['date_hk'] = df133['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)

df134=df[df['time_zone'] == 'Pacific Time (US & Canada)']
df134['date_hk'] = df134['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)

df135=df[df['time_zone'] == 'Paris']
df135['date_hk'] = df135['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df136=df[df['time_zone'] == 'Perth']
df136['date_hk'] = df136['date_thirdprocess']

df137=df[df['time_zone'] == 'Prague']
df137['date_hk'] = df137['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df138=df[df['time_zone'] == 'Pretoria']
df138['date_hk'] = df138['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df139=df[df['time_zone'] == 'Quito']
df139['date_hk'] = df139['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)

df140=df[df['time_zone'] == 'Rangoon']
df140['date_hk'] = df140['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=30, seconds=0)

df141=df[df['time_zone'] == 'Riga']
df141['date_hk'] = df141['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df142=df[df['time_zone'] == 'Riyadh']
df142['date_hk'] = df142['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

df143=df[df['time_zone'] == 'Rome']
df143['date_hk'] = df143['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df144=df[df['time_zone'] == 'Samoa']
df144['date_hk'] = df144['date_thirdprocess'] - pd.Timedelta(hours=5, minutes=0, seconds=0)

df145=df[df['time_zone'] == 'Santiago']
df145['date_hk'] = df145['date_thirdprocess'] + pd.Timedelta(hours=11, minutes=0, seconds=0)

df146=df[df['time_zone'] == 'Sapporo']
df146['date_hk'] = df146['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

df147=df[df['time_zone'] == 'Saskatchewan']
df147['date_hk'] = df147['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)

df148=df[df['time_zone'] == 'Seoul']
df148['date_hk'] = df148['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

df149=df[df['time_zone'] == 'Singapore']
df149['date_hk'] = df149['date_thirdprocess']

df150=df[df['time_zone'] == 'Skopje']
df150['date_hk'] = df150['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df151=df[df['time_zone'] == 'Sofia']
df151['date_hk'] = df151['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df152=df[df['time_zone'] == 'Solomon Is.']
df152['date_hk'] = df152['date_thirdprocess'] - pd.Timedelta(hours=3, minutes=0, seconds=0)

df153=df[df['time_zone'] == 'Sri Jayawardenepura']
df153['date_hk'] = df153['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)

df154=df[df['time_zone'] == 'St. Petersburg']
df154['date_hk'] = df154['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

df155=df[df['time_zone'] == 'Stockholm']
df155['date_hk'] = df155['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df156=df[df['time_zone'] == 'Sydney']
df156['date_hk'] = df156['date_thirdprocess'] - pd.Timedelta(hours=3, minutes=0, seconds=0)

df157=df[df['time_zone'] == 'Taipei']
df157['date_hk'] = df157['date_thirdprocess']

df158=df[df['time_zone'] == 'Tallinn']
df158['date_hk'] = df158['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df159=df[df['time_zone'] == 'Tashkent']
df159['date_hk'] = df159['date_thirdprocess'] + pd.Timedelta(hours=3, minutes=0, seconds=0)

df160=df[df['time_zone'] == 'Tehran']
df160['date_hk'] = df160['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=30, seconds=0)

df161=df[df['time_zone'] == 'Tijuana']
df161['date_hk'] = df161['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)

df162=df[df['time_zone'] == 'Tokyo']
df162['date_hk'] = df162['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

df163=df[df['time_zone'] == 'UTC']
df163['date_hk'] = df163['date_thirdprocess']

df164=df[df['time_zone'] == 'Ulaan Bataar']
df164['date_hk'] = df164['date_thirdprocess']

df165=df[df['time_zone'] == 'Urumqi']
df165['date_hk'] = df165['date_thirdprocess']

df166=df[df['time_zone'] == 'Vienna']
df166['date_hk'] = df166['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df167=df[df['time_zone'] == 'Vilnius']
df167['date_hk'] = df167['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)

df168=df[df['time_zone'] == 'Vladivostok']
df168['date_hk'] = df168['date_thirdprocess'] - pd.Timedelta(hours=2, minutes=0, seconds=0)

df169=df[df['time_zone'] == 'Volgograd']
df169['date_hk'] = df169['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)

df170=df[df['time_zone'] == 'Warsaw']
df170['date_hk'] = df170['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df171=df[df['time_zone'] == 'Wellington']
df171['date_hk'] = df171['date_thirdprocess'] - pd.Timedelta(hours=5, minutes=0, seconds=0)

df172=df[df['time_zone'] == 'West Central Africa']
df172['date_hk'] = df172['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

df173=df[df['time_zone'] == 'Yakutsk']
df173['date_hk'] = df173['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)

df174=df[df['time_zone'] == 'Yerevan']
df174['date_hk'] = df174['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)

df175=df[df['time_zone'] == 'Zagreb']
df175['date_hk'] = df175['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)

# Ââ©‰∏ãÁöÑÈÉΩÊòØNaNÂÄºÔºåÊöÇÂÆöËÆæÁΩÆ‰∏∫hktime
df176=df[df['time_zone']=='']
df176['date_hk'] = df176['date_thirdprocess']

frames=[df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,df41,df42,df43,df44,df45,df46,df47,df48,df49,df50,df51,df52,df53,df54,df55,df56,df57,df58,df59,df60,df61,df62,df63,df64,df65,df66,df67,df68,df69,df70,df71,df72,df73,df74,df75,df76,df77,df78,df79,df80,df81,df82,df83,df84,df85,df86,df87,df88,df89,df90,df91,df92,df93,df94,df95,df96,df97,df98,df99,df100,df101,df102,df103,df104,df105,df106,df107,df108,df109,df110,df111,df112,df113,df114,df115,df116,df117,df118,df119,df120,df121,df122,df123,df124,df125,df126,df127,df128,df129,df130,df131,df132,df133,df134,df135,df136,df137,df138,df139,df140,df141,df142,df143,df144,df145,df146,df147,df148,df149,df150,df151,df152,df153,df154,df155,df156,df157,df158,df159,df160,df161,df162,df163,df164,df165,df166,df167,df168,df169,df170,df171,df172,df173,df174,df175,df176]

result_v1=pd.concat(frames)

C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['date_hk'] = df2['date_thirdprocess'] - pd.Timedelta(hours=2, minutes=30, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['date_hk'] = df3['date_thirdprocess'] + pd.Timedelta(hours=17, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['date_hk'] = df4['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['date_hk'] = df5['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['date_hk'] = df6['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7['date_hk'] = df7['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df8['date_hk'] = df8['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df9['date_hk'] = df9['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10['date_hk'] = df10['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11['date_hk'] = df11['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['date_hk'] = df12['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['date_hk'] = df13['date_thirdprocess'] + pd.Timedelta(hours=14, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df14['date_hk'] = df14['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df15['date_hk'] = df15['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df16['date_hk'] = df16['date_thirdprocess'] + pd.Timedelta(hours=16, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df17['date_hk'] = df17['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df18['date_hk'] = df18['date_thirdprocess'] + pd.Timedelta(hours=15, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df19['date_hk'] = df19['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df20['date_hk'] = df20['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df21['date_hk'] = df21['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df22['date_hk'] = df22['date_thirdprocess']
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df23['date_hk'] = df23['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df24['date_hk'] = df24['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df25['date_hk'] = df25['date_thirdprocess'] + pd.Timedelta(hours=2, minutes=30, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df26['date_hk'] = df26['date_thirdprocess']
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df27['date_hk'] = df27['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df28['date_hk'] = df28['date_thirdprocess']
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df29['date_hk'] = df29['date_thirdprocess']
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df30['date_hk'] = df30['date_thirdprocess']
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df31['date_hk'] = df31['date_thirdprocess']
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df32['date_hk'] = df32['date_thirdprocess'] - pd.Timedelta(hours=1, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df33['date_hk'] = df33['date_thirdprocess'] + pd.Timedelta(hours=6, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df34['date_hk'] = df34['date_thirdprocess'] + pd.Timedelta(hours=12, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:104: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df35['date_hk'] = df35['date_thirdprocess'] + pd.Timedelta(hours=8, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df36['date_hk'] = df36['date_thirdprocess'] - pd.Timedelta(hours=5, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df37['date_hk'] = df37['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df38['date_hk'] = df38['date_thirdprocess'] + pd.Timedelta(hours=5, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df39['date_hk'] = df39['date_thirdprocess'] + pd.Timedelta(hours=4, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df40['date_hk'] = df40['date_thirdprocess'] + pd.Timedelta(hours=1, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df41['date_hk'] = df41['date_thirdprocess']
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df42['date_hk'] = df42['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df43['date_hk'] = df43['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df44['date_hk'] = df44['date_thirdprocess'] + pd.Timedelta(hours=7, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:134: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['date_hk'] = df45['date_thirdprocess'] + pd.Timedelta(hours=13, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df46['date_hk'] = df46['date_thirdprocess'] + pd.Timedelta(hours=11, minutes=0, seconds=0)
C:\Users\user\AppData\Local\Temp\ipykernel_1516\2922204258.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead


In [113]:
result_v1.head(5)

,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,user_created_at,...,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk
1246,Sun May 08 19:42:57 +0000 2016,7.290000e+17,en,22.280900,114.178000,Thanks again Hong Kong <ed><U+00A0><U+00BC><ed...,Abu Dhabi,False,https://t.co/TRE2EaWvgv,Fri Dec 05 03:50:04 +0000 2008,...,en,NaN,False,135,135,thanks again hong kong for more great to this ...,2016-05-08 19:42:57+00:00,2016-05-08 19:42:57,2016-05-08 19:42:57,2016-05-08 23:42:57
1254,Sun May 08 21:20:20 +0000 2016,7.290000e+17,en,22.314882,113.933372,It's that time again! <U+2708><U+FE0F> #HongKo...,Abu Dhabi,False,https://t.co/vT7Ig26Toy,Fri Dec 05 03:50:04 +0000 2008,...,en,NaN,False,951,950 - 951,it s that time again u number u hong kong taxi...,2016-05-08 21:20:20+00:00,2016-05-08 21:20:20,2016-05-08 21:20:20,2016-05-09 01:20:20
3007,Thu May 12 08:04:44 +0000 2016,7.310000e+17,en,22.280900,114.178000,Static | Behaviour \r\r\r\r\r\r\r\r\n\r\r\r\r\...,Abu Dhabi,False,https://t.co/eDeDOSdZ98,Sun Sep 04 11:14:07 +0000 2011,...,en,NaN,False,135,135,static behaviour china hong kong explore touri...,2016-05-12 08:04:44+00:00,2016-05-12 08:04:44,2016-05-12 08:04:44,2016-05-12 12:04:44
3715,Fri May 13 09:07:09 +0000 2016,7.310000e+17,en,22.339341,114.204015,The Nan lian garden at Diamond Hill in Hong Ko...,Abu Dhabi,False,https://t.co/UIu8LKGJR5,Tue Sep 28 10:15:24 +0000 2010,...,en,NaN,False,281,281,the nan garden at diamond hill in hong kong a ...,2016-05-13 09:07:09+00:00,2016-05-13 09:07:09,2016-05-13 09:07:09,2016-05-13 13:07:09
4297,Sat May 14 06:37:43 +0000 2016,7.310000e+17,en,22.313420,114.043526,Advance birthday treat from my sister. <U+2764...,Abu Dhabi,False,https://t.co/KIIE6Twnx4,Mon Sep 14 19:15:36 +0000 2009,...,en,NaN,False,973,971 - 974,advance birthday treat from my sister u number...,2016-05-14 06:37:43+00:00,2016-05-14 06:37:43,2016-05-14 06:37:43,2016-05-14 10:37:43

In [114]:
result_v1.describe()

,id_str,lat,lon,user_id_str,TPU_longitudinal
count,2.854350e+05,285435.000000,285435.000000,2.854350e+05,285435.000000
mean,8.497650e+17,22.304599,114.136113,4.468563e+15,353.322487
std,7.568466e+16,0.041775,0.084787,5.935306e+16,311.618140
min,7.290000e+17,22.155776,113.851093,8.530000e+02,111.000000
25%,7.870000e+17,22.280900,114.144328,3.933772e+07,135.000000
50%,8.420000e+17,22.294134,114.168716,1.037768e+08,212.000000
75%,9.140000e+17,22.314954,114.178000,2.935840e+08,424.000000
max,1.000000e+18,22.557560,114.430556,9.404490e+17,976.000000

In [115]:
result_v1.to_csv('D:\\RA-Tasks\\1 Graph neural network_POI\\Task1\\Process\\result_v1.csv')

In [117]:
df176=df[df['time_zone'].isnull()]
df176['date_hk'] = df176['date_thirdprocess']

C:\Users\user\AppData\Local\Temp\ipykernel_1516\1511604115.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df176['date_hk'] = df176['date_thirdprocess']

In [118]:
frames=[df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,df41,df42,df43,df44,df45,df46,df47,df48,df49,df50,df51,df52,df53,df54,df55,df56,df57,df58,df59,df60,df61,df62,df63,df64,df65,df66,df67,df68,df69,df70,df71,df72,df73,df74,df75,df76,df77,df78,df79,df80,df81,df82,df83,df84,df85,df86,df87,df88,df89,df90,df91,df92,df93,df94,df95,df96,df97,df98,df99,df100,df101,df102,df103,df104,df105,df106,df107,df108,df109,df110,df111,df112,df113,df114,df115,df116,df117,df118,df119,df120,df121,df122,df123,df124,df125,df126,df127,df128,df129,df130,df131,df132,df133,df134,df135,df136,df137,df138,df139,df140,df141,df142,df143,df144,df145,df146,df147,df148,df149,df150,df151,df152,df153,df154,df155,df156,df157,df158,df159,df160,df161,df162,df163,df164,df165,df166,df167,df168,df169,df170,df171,df172,df173,df174,df175,df176]

In [119]:
result_v2=pd.concat(frames)

In [120]:
result_v2.to_csv('D:\\RA-Tasks\\1 Graph neural network_POI\\Task1\\Process\\result_v2.csv')

In [121]:
result_v2['year']=result_v2['date_hk'].year

AttributeError: 'Series' object has no attribute 'year'

In [122]:
date_hk_col=pd.DatetimeIndex(result_v2['date_hk'])

In [123]:
result_v2['year']=date_hk_col.year

In [124]:
result_v2['month']=date_hk_col.month

In [125]:
result_v2['day']=date_hk_col.day

In [126]:
result_v2.head(5)

,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,user_created_at,...,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk,year,month,day
1246,Sun May 08 19:42:57 +0000 2016,7.290000e+17,en,22.280900,114.178000,Thanks again Hong Kong <ed><U+00A0><U+00BC><ed...,Abu Dhabi,False,https://t.co/TRE2EaWvgv,Fri Dec 05 03:50:04 +0000 2008,...,135,135,thanks again hong kong for more great to this ...,2016-05-08 19:42:57+00:00,2016-05-08 19:42:57,2016-05-08 19:42:57,2016-05-08 23:42:57,2016,5,8
1254,Sun May 08 21:20:20 +0000 2016,7.290000e+17,en,22.314882,113.933372,It's that time again! <U+2708><U+FE0F> #HongKo...,Abu Dhabi,False,https://t.co/vT7Ig26Toy,Fri Dec 05 03:50:04 +0000 2008,...,951,950 - 951,it s that time again u number u hong kong taxi...,2016-05-08 21:20:20+00:00,2016-05-08 21:20:20,2016-05-08 21:20:20,2016-05-09 01:20:20,2016,5,9
3007,Thu May 12 08:04:44 +0000 2016,7.310000e+17,en,22.280900,114.178000,Static | Behaviour \r\r\r\r\r\r\r\r\n\r\r\r\r\...,Abu Dhabi,False,https://t.co/eDeDOSdZ98,Sun Sep 04 11:14:07 +0000 2011,...,135,135,static behaviour china hong kong explore touri...,2016-05-12 08:04:44+00:00,2016-05-12 08:04:44,2016-05-12 08:04:44,2016-05-12 12:04:44,2016,5,12
3715,Fri May 13 09:07:09 +0000 2016,7.310000e+17,en,22.339341,114.204015,The Nan lian garden at Diamond Hill in Hong Ko...,Abu Dhabi,False,https://t.co/UIu8LKGJR5,Tue Sep 28 10:15:24 +0000 2010,...,281,281,the nan garden at diamond hill in hong kong a ...,2016-05-13 09:07:09+00:00,2016-05-13 09:07:09,2016-05-13 09:07:09,2016-05-13 13:07:09,2016,5,13
4297,Sat May 14 06:37:43 +0000 2016,7.310000e+17,en,22.313420,114.043526,Advance birthday treat from my sister. <U+2764...,Abu Dhabi,False,https://t.co/KIIE6Twnx4,Mon Sep 14 19:15:36 +0000 2009,...,973,971 - 974,advance birthday treat from my sister u number...,2016-05-14 06:37:43+00:00,2016-05-14 06:37:43,2016-05-14 06:37:43,2016-05-14 10:37:43,2016,5,14

In [127]:
result_v2['hour']=date_hk_col.hour

In [128]:
result_v2.head(5)

,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,user_created_at,...,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk,year,month,day,hour
1246,Sun May 08 19:42:57 +0000 2016,7.290000e+17,en,22.280900,114.178000,Thanks again Hong Kong <ed><U+00A0><U+00BC><ed...,Abu Dhabi,False,https://t.co/TRE2EaWvgv,Fri Dec 05 03:50:04 +0000 2008,...,135,thanks again hong kong for more great to this ...,2016-05-08 19:42:57+00:00,2016-05-08 19:42:57,2016-05-08 19:42:57,2016-05-08 23:42:57,2016,5,8,23
1254,Sun May 08 21:20:20 +0000 2016,7.290000e+17,en,22.314882,113.933372,It's that time again! <U+2708><U+FE0F> #HongKo...,Abu Dhabi,False,https://t.co/vT7Ig26Toy,Fri Dec 05 03:50:04 +0000 2008,...,950 - 951,it s that time again u number u hong kong taxi...,2016-05-08 21:20:20+00:00,2016-05-08 21:20:20,2016-05-08 21:20:20,2016-05-09 01:20:20,2016,5,9,1
3007,Thu May 12 08:04:44 +0000 2016,7.310000e+17,en,22.280900,114.178000,Static | Behaviour \r\r\r\r\r\r\r\r\n\r\r\r\r\...,Abu Dhabi,False,https://t.co/eDeDOSdZ98,Sun Sep 04 11:14:07 +0000 2011,...,135,static behaviour china hong kong explore touri...,2016-05-12 08:04:44+00:00,2016-05-12 08:04:44,2016-05-12 08:04:44,2016-05-12 12:04:44,2016,5,12,12
3715,Fri May 13 09:07:09 +0000 2016,7.310000e+17,en,22.339341,114.204015,The Nan lian garden at Diamond Hill in Hong Ko...,Abu Dhabi,False,https://t.co/UIu8LKGJR5,Tue Sep 28 10:15:24 +0000 2010,...,281,the nan garden at diamond hill in hong kong a ...,2016-05-13 09:07:09+00:00,2016-05-13 09:07:09,2016-05-13 09:07:09,2016-05-13 13:07:09,2016,5,13,13
4297,Sat May 14 06:37:43 +0000 2016,7.310000e+17,en,22.313420,114.043526,Advance birthday treat from my sister. <U+2764...,Abu Dhabi,False,https://t.co/KIIE6Twnx4,Mon Sep 14 19:15:36 +0000 2009,...,971 - 974,advance birthday treat from my sister u number...,2016-05-14 06:37:43+00:00,2016-05-14 06:37:43,2016-05-14 06:37:43,2016-05-14 10:37:43,2016,5,14,10

In [129]:
result_v2.to_csv('D:\\RA-Tasks\\1 Graph neural network_POI\\Task1\\Process\\result_v2_1.csv')