In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

d:\workspace\python38\lib\site-packages\geopandas\_compat.py:123: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [5]:
zipfile=r"D:\GaoYunshu2023\100011 HK-Work\RA-project\001 Task description\Task1\Process\twitterPoint_final.shp"

In [6]:
df=gpd.read_file(zipfile)

In [7]:
df.head(5)

,OBJECTID_1,Field1,created_at,id_str,lang,lat,lon,text_,time_zone,truncated,...,Landuse_HK,Landuse__1,Landuse__2,Landuse__3,Landuse__4,Landuse__5,Landuse__6,Landuse__7,LanduseTyp,geometry
0,1,1246,Sun May 08 19:42:57 +0000 2016,7.290000e+17,en,22.280900,114.178000,Thanks again Hong Kong <ed><U+00A0><U+00BC><ed...,Abu Dhabi,FALSE,...,0,0,0,0,0,0,0,8,8,POINT (114.17800 22.28090)
1,2,1254,Sun May 08 21:20:20 +0000 2016,7.290000e+17,en,22.314882,113.933372,It's that time again! <U+2708><U+FE0F> #HongKo...,Abu Dhabi,FALSE,...,0,0,0,0,0,0,0,0,999,POINT (113.93337 22.31488)
2,3,3007,Thu May 12 08:04:44 +0000 2016,7.310000e+17,en,22.280900,114.178000,Static | Behaviour \r\r\r\r\r\r\r\n\r\r\r\r\r\...,Abu Dhabi,FALSE,...,0,0,0,0,0,0,0,8,8,POINT (114.17800 22.28090)
3,4,3715,Fri May 13 09:07:09 +0000 2016,7.310000e+17,en,22.339341,114.204015,The Nan lian garden at Diamond Hill in Hong Ko...,Abu Dhabi,FALSE,...,0,0,0,0,0,0,7,0,7,POINT (114.20402 22.33934)
4,5,4297,Sat May 14 06:37:43 +0000 2016,7.310000e+17,en,22.313420,114.043526,Advance birthday treat from my sister. <U+2764...,Abu Dhabi,FALSE,...,0,0,3,0,0,0,0,0,3,POINT (114.04353 22.31342)

In [8]:
df1=df[['OBJECTID_1','Field1','created_at','id_str','lang','time_zone','LanduseTyp','geometry']]

In [9]:
df1.head(5)

,OBJECTID_1,Field1,created_at,id_str,lang,time_zone,LanduseTyp,geometry
0,1,1246,Sun May 08 19:42:57 +0000 2016,7.290000e+17,en,Abu Dhabi,8,POINT (114.17800 22.28090)
1,2,1254,Sun May 08 21:20:20 +0000 2016,7.290000e+17,en,Abu Dhabi,999,POINT (113.93337 22.31488)
2,3,3007,Thu May 12 08:04:44 +0000 2016,7.310000e+17,en,Abu Dhabi,8,POINT (114.17800 22.28090)
3,4,3715,Fri May 13 09:07:09 +0000 2016,7.310000e+17,en,Abu Dhabi,7,POINT (114.20402 22.33934)
4,5,4297,Sat May 14 06:37:43 +0000 2016,7.310000e+17,en,Abu Dhabi,3,POINT (114.04353 22.31342)

In [10]:
df2=pd.read_csv(r"D:\GaoYunshu2023\100011 HK-Work\RA-project\001 Task description\Task1\result_v2.csv")

C:\Users\GAOYUN~1\AppData\Local\Temp/ipykernel_1532/1152579709.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df2=pd.read_csv(r"D:\GaoYunshu2023\100011 HK-Work\RA-project\001 Task description\Task1\result_v2.csv")

In [11]:
df2.head(5)

,Unnamed: 0,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,...,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk
0,1246,Sun May 08 19:42:57 +0000 2016,7.290000e+17,en,22.280900,114.178000,Thanks again Hong Kong <ed><U+00A0><U+00BC><ed...,Abu Dhabi,False,https://t.co/TRE2EaWvgv,...,en,NaN,False,135,135,thanks again hong kong for more great to this ...,2016-05-08 19:42:57+00:00,5/8/2016 19:42,5/8/2016 19:42,5/8/2016 23:42
1,1254,Sun May 08 21:20:20 +0000 2016,7.290000e+17,en,22.314882,113.933372,It's that time again! <U+2708><U+FE0F> #HongKo...,Abu Dhabi,False,https://t.co/vT7Ig26Toy,...,en,NaN,False,951,950 - 951,it s that time again u number u hong kong taxi...,2016-05-08 21:20:20+00:00,5/8/2016 21:20,5/8/2016 21:20,5/9/2016 1:20
2,3007,Thu May 12 08:04:44 +0000 2016,7.310000e+17,en,22.280900,114.178000,Static | Behaviour \r\r\r\r\r\r\r\r\n\r\r\r\r\...,Abu Dhabi,False,https://t.co/eDeDOSdZ98,...,en,NaN,False,135,135,static behaviour china hong kong explore touri...,2016-05-12 08:04:44+00:00,5/12/2016 8:04,5/12/2016 8:04,5/12/2016 12:04
3,3715,Fri May 13 09:07:09 +0000 2016,7.310000e+17,en,22.339341,114.204015,The Nan lian garden at Diamond Hill in Hong Ko...,Abu Dhabi,False,https://t.co/UIu8LKGJR5,...,en,NaN,False,281,281,the nan garden at diamond hill in hong kong a ...,2016-05-13 09:07:09+00:00,5/13/2016 9:07,5/13/2016 9:07,5/13/2016 13:07
4,4297,Sat May 14 06:37:43 +0000 2016,7.310000e+17,en,22.313420,114.043526,Advance birthday treat from my sister. <U+2764...,Abu Dhabi,False,https://t.co/KIIE6Twnx4,...,en,NaN,False,973,971 - 974,advance birthday treat from my sister u number...,2016-05-14 06:37:43+00:00,5/14/2016 6:37,5/14/2016 6:37,5/14/2016 10:37

In [12]:
df2.rename(columns={df2.columns[0]: "Field1" }, inplace = True)

In [13]:
df2.head(5)

,Field1,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,...,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk
0,1246,Sun May 08 19:42:57 +0000 2016,7.290000e+17,en,22.280900,114.178000,Thanks again Hong Kong <ed><U+00A0><U+00BC><ed...,Abu Dhabi,False,https://t.co/TRE2EaWvgv,...,en,NaN,False,135,135,thanks again hong kong for more great to this ...,2016-05-08 19:42:57+00:00,5/8/2016 19:42,5/8/2016 19:42,5/8/2016 23:42
1,1254,Sun May 08 21:20:20 +0000 2016,7.290000e+17,en,22.314882,113.933372,It's that time again! <U+2708><U+FE0F> #HongKo...,Abu Dhabi,False,https://t.co/vT7Ig26Toy,...,en,NaN,False,951,950 - 951,it s that time again u number u hong kong taxi...,2016-05-08 21:20:20+00:00,5/8/2016 21:20,5/8/2016 21:20,5/9/2016 1:20
2,3007,Thu May 12 08:04:44 +0000 2016,7.310000e+17,en,22.280900,114.178000,Static | Behaviour \r\r\r\r\r\r\r\r\n\r\r\r\r\...,Abu Dhabi,False,https://t.co/eDeDOSdZ98,...,en,NaN,False,135,135,static behaviour china hong kong explore touri...,2016-05-12 08:04:44+00:00,5/12/2016 8:04,5/12/2016 8:04,5/12/2016 12:04
3,3715,Fri May 13 09:07:09 +0000 2016,7.310000e+17,en,22.339341,114.204015,The Nan lian garden at Diamond Hill in Hong Ko...,Abu Dhabi,False,https://t.co/UIu8LKGJR5,...,en,NaN,False,281,281,the nan garden at diamond hill in hong kong a ...,2016-05-13 09:07:09+00:00,5/13/2016 9:07,5/13/2016 9:07,5/13/2016 13:07
4,4297,Sat May 14 06:37:43 +0000 2016,7.310000e+17,en,22.313420,114.043526,Advance birthday treat from my sister. <U+2764...,Abu Dhabi,False,https://t.co/KIIE6Twnx4,...,en,NaN,False,973,971 - 974,advance birthday treat from my sister u number...,2016-05-14 06:37:43+00:00,5/14/2016 6:37,5/14/2016 6:37,5/14/2016 10:37

In [14]:
df2.head(5)

,Field1,created_at,id_str,lang,lat,lon,text,time_zone,truncated,url,...,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk
0,1246,Sun May 08 19:42:57 +0000 2016,7.290000e+17,en,22.280900,114.178000,Thanks again Hong Kong <ed><U+00A0><U+00BC><ed...,Abu Dhabi,False,https://t.co/TRE2EaWvgv,...,en,NaN,False,135,135,thanks again hong kong for more great to this ...,2016-05-08 19:42:57+00:00,5/8/2016 19:42,5/8/2016 19:42,5/8/2016 23:42
1,1254,Sun May 08 21:20:20 +0000 2016,7.290000e+17,en,22.314882,113.933372,It's that time again! <U+2708><U+FE0F> #HongKo...,Abu Dhabi,False,https://t.co/vT7Ig26Toy,...,en,NaN,False,951,950 - 951,it s that time again u number u hong kong taxi...,2016-05-08 21:20:20+00:00,5/8/2016 21:20,5/8/2016 21:20,5/9/2016 1:20
2,3007,Thu May 12 08:04:44 +0000 2016,7.310000e+17,en,22.280900,114.178000,Static | Behaviour \r\r\r\r\r\r\r\r\n\r\r\r\r\...,Abu Dhabi,False,https://t.co/eDeDOSdZ98,...,en,NaN,False,135,135,static behaviour china hong kong explore touri...,2016-05-12 08:04:44+00:00,5/12/2016 8:04,5/12/2016 8:04,5/12/2016 12:04
3,3715,Fri May 13 09:07:09 +0000 2016,7.310000e+17,en,22.339341,114.204015,The Nan lian garden at Diamond Hill in Hong Ko...,Abu Dhabi,False,https://t.co/UIu8LKGJR5,...,en,NaN,False,281,281,the nan garden at diamond hill in hong kong a ...,2016-05-13 09:07:09+00:00,5/13/2016 9:07,5/13/2016 9:07,5/13/2016 13:07
4,4297,Sat May 14 06:37:43 +0000 2016,7.310000e+17,en,22.313420,114.043526,Advance birthday treat from my sister. <U+2764...,Abu Dhabi,False,https://t.co/KIIE6Twnx4,...,en,NaN,False,973,971 - 974,advance birthday treat from my sister u number...,2016-05-14 06:37:43+00:00,5/14/2016 6:37,5/14/2016 6:37,5/14/2016 10:37

In [15]:
df3 = pd.merge(df1, df2, on='Field1', how='inner')

In [16]:
df3.head(5)

,OBJECTID_1,Field1,created_at_x,id_str_x,lang_x,time_zone_x,LanduseTyp,geometry,created_at_y,id_str_y,...,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk
0,1,1246,Sun May 08 19:42:57 +0000 2016,7.290000e+17,en,Abu Dhabi,8,POINT (114.17800 22.28090),Sun May 08 19:42:57 +0000 2016,7.290000e+17,...,en,NaN,False,135,135,thanks again hong kong for more great to this ...,2016-05-08 19:42:57+00:00,5/8/2016 19:42,5/8/2016 19:42,5/8/2016 23:42
1,2,1254,Sun May 08 21:20:20 +0000 2016,7.290000e+17,en,Abu Dhabi,999,POINT (113.93337 22.31488),Sun May 08 21:20:20 +0000 2016,7.290000e+17,...,en,NaN,False,951,950 - 951,it s that time again u number u hong kong taxi...,2016-05-08 21:20:20+00:00,5/8/2016 21:20,5/8/2016 21:20,5/9/2016 1:20
2,3,3007,Thu May 12 08:04:44 +0000 2016,7.310000e+17,en,Abu Dhabi,8,POINT (114.17800 22.28090),Thu May 12 08:04:44 +0000 2016,7.310000e+17,...,en,NaN,False,135,135,static behaviour china hong kong explore touri...,2016-05-12 08:04:44+00:00,5/12/2016 8:04,5/12/2016 8:04,5/12/2016 12:04
3,4,3715,Fri May 13 09:07:09 +0000 2016,7.310000e+17,en,Abu Dhabi,7,POINT (114.20402 22.33934),Fri May 13 09:07:09 +0000 2016,7.310000e+17,...,en,NaN,False,281,281,the nan garden at diamond hill in hong kong a ...,2016-05-13 09:07:09+00:00,5/13/2016 9:07,5/13/2016 9:07,5/13/2016 13:07
4,5,4297,Sat May 14 06:37:43 +0000 2016,7.310000e+17,en,Abu Dhabi,3,POINT (114.04353 22.31342),Sat May 14 06:37:43 +0000 2016,7.310000e+17,...,en,NaN,False,973,971 - 974,advance birthday treat from my sister u number...,2016-05-14 06:37:43+00:00,5/14/2016 6:37,5/14/2016 6:37,5/14/2016 10:37

In [17]:
df4=df3[['OBJECTID_1','Field1','LanduseTyp','created_at_x','id_str_x','time_zone_x','geometry','date_thirdprocess','date_hk']]

In [18]:
df4.head(5)

,OBJECTID_1,Field1,LanduseTyp,created_at_x,id_str_x,time_zone_x,geometry,date_thirdprocess,date_hk
0,1,1246,8,Sun May 08 19:42:57 +0000 2016,7.290000e+17,Abu Dhabi,POINT (114.17800 22.28090),5/8/2016 19:42,5/8/2016 23:42
1,2,1254,999,Sun May 08 21:20:20 +0000 2016,7.290000e+17,Abu Dhabi,POINT (113.93337 22.31488),5/8/2016 21:20,5/9/2016 1:20
2,3,3007,8,Thu May 12 08:04:44 +0000 2016,7.310000e+17,Abu Dhabi,POINT (114.17800 22.28090),5/12/2016 8:04,5/12/2016 12:04
3,4,3715,7,Fri May 13 09:07:09 +0000 2016,7.310000e+17,Abu Dhabi,POINT (114.20402 22.33934),5/13/2016 9:07,5/13/2016 13:07
4,5,4297,3,Sat May 14 06:37:43 +0000 2016,7.310000e+17,Abu Dhabi,POINT (114.04353 22.31342),5/14/2016 6:37,5/14/2016 10:37

In [19]:
df4.dtypes

OBJECTID_1              int64
Field1                  int64
LanduseTyp              int64
created_at_x           object
id_str_x              float64
time_zone_x            object
geometry             geometry
date_thirdprocess      object
date_hk                object
dtype: object

In [21]:
df4['date_thirdprocess']= pd.to_datetime(df4['date_thirdprocess'])

d:\workspace\python38\lib\site-packages\geopandas\geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [22]:
df4['date_hk']= pd.to_datetime(df4['date_hk'])

d:\workspace\python38\lib\site-packages\geopandas\geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [23]:
date_hk_col=pd.DatetimeIndex(df4['date_hk'])

In [61]:
df5=df4.groupby([date_hk_col.year, date_hk_col.month,date_hk_col.day,date_hk_col.hour,df4['LanduseTyp']]).count()

In [62]:
df5.dtypes

OBJECTID_1           int64
Field1               int64
created_at_x         int64
id_str_x             int64
time_zone_x          int64
geometry             int64
date_thirdprocess    int64
date_hk              int64
dtype: object

In [63]:
df5.head(5)

                                            OBJECTID_1  Field1  created_at_x  \
date_hk date_hk date_hk date_hk LanduseTyp
2016    5       7       3       999                  1       1             1
                        6       7                    1       1             1
                                8                    2       2             2
                        7       2                    7       7             7
                                3                    8       8             8

                                            id_str_x  time_zone_x  geometry  \
date_hk date_hk date_hk date_hk LanduseTyp
2016    5       7       3       999                1            1         1
                        6       7                  1            1         1
                                8                  2            2         2
                        7       2                  7            6         7
                                3                  8            6         8

                                            date_thirdprocess  date_hk
date_hk date_hk date_hk date_hk LanduseTyp
2016    5       7       3       999                         1        1
                        6       7                           1        1
                                8                           2        2
                        7       2                           7        7
                                3                           8        8

In [64]:
del df5['date_hk']

In [65]:
del df5['date_thirdprocess']

In [66]:
df5.head(5)

                                            OBJECTID_1  Field1  created_at_x  \
date_hk date_hk date_hk date_hk LanduseTyp
2016    5       7       3       999                  1       1             1
                        6       7                    1       1             1
                                8                    2       2             2
                        7       2                    7       7             7
                                3                    8       8             8

                                            id_str_x  time_zone_x  geometry
date_hk date_hk date_hk date_hk LanduseTyp
2016    5       7       3       999                1            1         1
                        6       7                  1            1         1
                                8                  2            2         2
                        7       2                  7            6         7
                                3                  8            6         8

In [67]:
df5['LanduseTyp'] = df5.index.get_level_values('LanduseTyp')

In [68]:
df5.dtypes

OBJECTID_1      int64
Field1          int64
created_at_x    int64
id_str_x        int64
time_zone_x     int64
geometry        int64
LanduseTyp      int64
dtype: object

In [79]:
del df5['LanduseTyp']

In [80]:
df5.dtypes

OBJECTID_1      int64
Field1          int64
created_at_x    int64
id_str_x        int64
time_zone_x     int64
geometry        int64
dtype: object

In [81]:
df5.reset_index(drop=False,inplace=False)

ValueError: cannot insert date_hk, already exists

In [83]:
del df5['date_hk']

KeyError: 'date_hk'

In [85]:
df5.reset_index(drop=False)

ValueError: cannot insert date_hk, already exists

In [86]:
df5.reset_index(inplace=False)

ValueError: cannot insert date_hk, already exists

In [87]:
df5.dtypes

OBJECTID_1      int64
Field1          int64
created_at_x    int64
id_str_x        int64
time_zone_x     int64
geometry        int64
dtype: object

In [88]:
df5.head(5)

                                            OBJECTID_1  Field1  created_at_x  \
date_hk date_hk date_hk date_hk LanduseTyp
2016    5       7       3       999                  1       1             1
                        6       7                    1       1             1
                                8                    2       2             2
                        7       2                    7       7             7
                                3                    8       8             8

                                            id_str_x  time_zone_x  geometry
date_hk date_hk date_hk date_hk LanduseTyp
2016    5       7       3       999                1            1         1
                        6       7                  1            1         1
                                8                  2            2         2
                        7       2                  7            6         7
                                3                  8            6         8

In [89]:
df5.dtypes

OBJECTID_1      int64
Field1          int64
created_at_x    int64
id_str_x        int64
time_zone_x     int64
geometry        int64
dtype: object

In [ ]:
df5.reset_index()