In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

d:\workspace\python38\lib\site-packages\geopandas\_compat.py:123: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [2]:
zipfile=r"D:\GaoYunshu2023\100011 HK-Work\RA-project\001 Task description\Task1\Process\twitterPoint_final.shp"

In [3]:
df=gpd.read_file(zipfile)

In [5]:
df1=df[['OBJECTID_1','Field1','created_at','id_str','lang','time_zone','LanduseTyp','geometry']]
df2=pd.read_csv(r"D:\GaoYunshu2023\100011 HK-Work\RA-project\001 Task description\Task1\result_v2.csv")

C:\Users\GAOYUN~1\AppData\Local\Temp/ipykernel_19600/4248614074.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df2=pd.read_csv(r"D:\GaoYunshu2023\100011 HK-Work\RA-project\001 Task description\Task1\result_v2.csv")

In [6]:
df2.rename(columns={df2.columns[0]: "Field1" }, inplace = True)

In [7]:
df3 = pd.merge(df1, df2, on='Field1', how='inner')

In [8]:
df3.head(5)

,OBJECTID_1,Field1,created_at_x,id_str_x,lang_x,time_zone_x,LanduseTyp,geometry,created_at_y,id_str_y,...,user_lang,user_url,verified,TPU_longitudinal,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk
0,1,1246,Sun May 08 19:42:57 +0000 2016,7.290000e+17,en,Abu Dhabi,8,POINT (114.17800 22.28090),Sun May 08 19:42:57 +0000 2016,7.290000e+17,...,en,NaN,False,135,135,thanks again hong kong for more great to this ...,2016-05-08 19:42:57+00:00,5/8/2016 19:42,5/8/2016 19:42,5/8/2016 23:42
1,2,1254,Sun May 08 21:20:20 +0000 2016,7.290000e+17,en,Abu Dhabi,999,POINT (113.93337 22.31488),Sun May 08 21:20:20 +0000 2016,7.290000e+17,...,en,NaN,False,951,950 - 951,it s that time again u number u hong kong taxi...,2016-05-08 21:20:20+00:00,5/8/2016 21:20,5/8/2016 21:20,5/9/2016 1:20
2,3,3007,Thu May 12 08:04:44 +0000 2016,7.310000e+17,en,Abu Dhabi,8,POINT (114.17800 22.28090),Thu May 12 08:04:44 +0000 2016,7.310000e+17,...,en,NaN,False,135,135,static behaviour china hong kong explore touri...,2016-05-12 08:04:44+00:00,5/12/2016 8:04,5/12/2016 8:04,5/12/2016 12:04
3,4,3715,Fri May 13 09:07:09 +0000 2016,7.310000e+17,en,Abu Dhabi,7,POINT (114.20402 22.33934),Fri May 13 09:07:09 +0000 2016,7.310000e+17,...,en,NaN,False,281,281,the nan garden at diamond hill in hong kong a ...,2016-05-13 09:07:09+00:00,5/13/2016 9:07,5/13/2016 9:07,5/13/2016 13:07
4,5,4297,Sat May 14 06:37:43 +0000 2016,7.310000e+17,en,Abu Dhabi,3,POINT (114.04353 22.31342),Sat May 14 06:37:43 +0000 2016,7.310000e+17,...,en,NaN,False,973,971 - 974,advance birthday treat from my sister u number...,2016-05-14 06:37:43+00:00,5/14/2016 6:37,5/14/2016 6:37,5/14/2016 10:37

In [9]:
df3.dtypes

OBJECTID_1                int64
Field1                    int64
created_at_x             object
id_str_x                float64
lang_x                   object
time_zone_x              object
LanduseTyp                int64
geometry               geometry
created_at_y             object
id_str_y                float64
lang_y                   object
lat                     float64
lon                     float64
text                     object
time_zone_y              object
truncated                  bool
url                      object
user_created_at          object
user_id_str             float64
user_lang                object
user_url                 object
verified                   bool
TPU_longitudinal          int64
TPU_cross_sectional      object
cleaned_text             object
date                     object
date_secondprocess       object
date_thirdprocess        object
date_hk                  object
dtype: object

In [11]:
df3['date_hk'] = pd.to_datetime(df3['date_hk'])
df3['day'] = df3['date_hk'].dt.day
df3['month'] = df3['date_hk'].dt.month
df3['year'] = df3['date_hk'].dt.year
df3['hour']=df3['date_hk'].dt.hour

In [12]:
df3.head(5)

,OBJECTID_1,Field1,created_at_x,id_str_x,lang_x,time_zone_x,LanduseTyp,geometry,created_at_y,id_str_y,...,TPU_cross_sectional,cleaned_text,date,date_secondprocess,date_thirdprocess,date_hk,day,month,year,hour
0,1,1246,Sun May 08 19:42:57 +0000 2016,7.290000e+17,en,Abu Dhabi,8,POINT (114.17800 22.28090),Sun May 08 19:42:57 +0000 2016,7.290000e+17,...,135,thanks again hong kong for more great to this ...,2016-05-08 19:42:57+00:00,5/8/2016 19:42,5/8/2016 19:42,2016-05-08 23:42:00,8,5,2016,23
1,2,1254,Sun May 08 21:20:20 +0000 2016,7.290000e+17,en,Abu Dhabi,999,POINT (113.93337 22.31488),Sun May 08 21:20:20 +0000 2016,7.290000e+17,...,950 - 951,it s that time again u number u hong kong taxi...,2016-05-08 21:20:20+00:00,5/8/2016 21:20,5/8/2016 21:20,2016-05-09 01:20:00,9,5,2016,1
2,3,3007,Thu May 12 08:04:44 +0000 2016,7.310000e+17,en,Abu Dhabi,8,POINT (114.17800 22.28090),Thu May 12 08:04:44 +0000 2016,7.310000e+17,...,135,static behaviour china hong kong explore touri...,2016-05-12 08:04:44+00:00,5/12/2016 8:04,5/12/2016 8:04,2016-05-12 12:04:00,12,5,2016,12
3,4,3715,Fri May 13 09:07:09 +0000 2016,7.310000e+17,en,Abu Dhabi,7,POINT (114.20402 22.33934),Fri May 13 09:07:09 +0000 2016,7.310000e+17,...,281,the nan garden at diamond hill in hong kong a ...,2016-05-13 09:07:09+00:00,5/13/2016 9:07,5/13/2016 9:07,2016-05-13 13:07:00,13,5,2016,13
4,5,4297,Sat May 14 06:37:43 +0000 2016,7.310000e+17,en,Abu Dhabi,3,POINT (114.04353 22.31342),Sat May 14 06:37:43 +0000 2016,7.310000e+17,...,971 - 974,advance birthday treat from my sister u number...,2016-05-14 06:37:43+00:00,5/14/2016 6:37,5/14/2016 6:37,2016-05-14 10:37:00,14,5,2016,10

In [13]:
df3.dtypes

OBJECTID_1                      int64
Field1                          int64
created_at_x                   object
id_str_x                      float64
lang_x                         object
time_zone_x                    object
LanduseTyp                      int64
geometry                     geometry
created_at_y                   object
id_str_y                      float64
lang_y                         object
lat                           float64
lon                           float64
text                           object
time_zone_y                    object
truncated                        bool
url                            object
user_created_at                object
user_id_str                   float64
user_lang                      object
user_url                       object
verified                         bool
TPU_longitudinal                int64
TPU_cross_sectional            object
cleaned_text                   object
date                           object
date_secondprocess             object
date_thirdprocess              object
date_hk                datetime64[ns]
day                             int64
month                           int64
year                            int64
hour                            int64
dtype: object

In [24]:
df4=df3[['OBJECTID_1','Field1','LanduseTyp','year','month','day','hour','geometry']]

In [25]:
df4.head(5)

,OBJECTID_1,Field1,LanduseTyp,year,month,day,hour,geometry
0,1,1246,8,2016,5,8,23,POINT (114.17800 22.28090)
1,2,1254,999,2016,5,9,1,POINT (113.93337 22.31488)
2,3,3007,8,2016,5,12,12,POINT (114.17800 22.28090)
3,4,3715,7,2016,5,13,13,POINT (114.20402 22.33934)
4,5,4297,3,2016,5,14,10,POINT (114.04353 22.31342)

In [27]:
df5=pd.pivot_table(df4,index=['OBJECTID_1','Field1','year','month','day','hour'],columns=['LanduseTyp'],aggfunc='count').fillna(0).astype(int)

In [28]:
df5.head(5)

                                      geometry
LanduseTyp                                 1   2   3   4   5   6   7   8   999
OBJECTID_1 Field1 year month day hour
1          1246   2016 5     8   23          0   0   0   0   0   0   0   1   0
2          1254   2016 5     9   1           0   0   0   0   0   0   0   0   1
3          3007   2016 5     12  12          0   0   0   0   0   0   0   1   0
4          3715   2016 5     13  13          0   0   0   0   0   0   1   0   0
5          4297   2016 5     14  10          0   0   1   0   0   0   0   0   0

In [29]:
df5.groupby('hour')

In [31]:
df5.groupby('hour').count()

           geometry
LanduseTyp      1      2      3      4      5      6      7      8      999
hour
0             14623  14623  14623  14623  14623  14623  14623  14623  14623
1             15822  15822  15822  15822  15822  15822  15822  15822  15822
2             17746  17746  17746  17746  17746  17746  17746  17746  17746
3             19454  19454  19454  19454  19454  19454  19454  19454  19454
4             22744  22744  22744  22744  22744  22744  22744  22744  22744
5             23879  23879  23879  23879  23879  23879  23879  23879  23879
6             22336  22336  22336  22336  22336  22336  22336  22336  22336
7             21420  21420  21420  21420  21420  21420  21420  21420  21420
8             20639  20639  20639  20639  20639  20639  20639  20639  20639
9             21230  21230  21230  21230  21230  21230  21230  21230  21230
10            23004  23004  23004  23004  23004  23004  23004  23004  23004
11            24150  24150  24150  24150  24150  24150  24150  24150  24150
12            23272  23272  23272  23272  23272  23272  23272  23272  23272
13            22711  22711  22711  22711  22711  22711  22711  22711  22711
14            21583  21583  21583  21583  21583  21583  21583  21583  21583
15            19707  19707  19707  19707  19707  19707  19707  19707  19707
16            15877  15877  15877  15877  15877  15877  15877  15877  15877
17            11305  11305  11305  11305  11305  11305  11305  11305  11305
18             8247   8247   8247   8247   8247   8247   8247   8247   8247
19             6750   6750   6750   6750   6750   6750   6750   6750   6750
20             6742   6742   6742   6742   6742   6742   6742   6742   6742
21             6846   6846   6846   6846   6846   6846   6846   6846   6846
22             7967   7967   7967   7967   7967   7967   7967   7967   7967
23            11572  11572  11572  11572  11572  11572  11572  11572  11572

In [32]:
df5.head(5)

                                      geometry
LanduseTyp                                 1   2   3   4   5   6   7   8   999
OBJECTID_1 Field1 year month day hour
1          1246   2016 5     8   23          0   0   0   0   0   0   0   1   0
2          1254   2016 5     9   1           0   0   0   0   0   0   0   0   1
3          3007   2016 5     12  12          0   0   0   0   0   0   0   1   0
4          3715   2016 5     13  13          0   0   0   0   0   0   1   0   0
5          4297   2016 5     14  10          0   0   1   0   0   0   0   0   0

In [33]:
df1.dtypes

OBJECTID_1       int64
Field1           int64
created_at      object
id_str         float64
lang            object
time_zone       object
LanduseTyp       int64
geometry      geometry
dtype: object

In [34]:
df1.shape

(409626, 8)

In [35]:
df5.shape

(409626, 9)

In [36]:
df2.shape

(409626, 22)

In [37]:
df6=df5.groupby(df5['hour']).count()

KeyError: 'hour'

In [38]:
df5.dtypes

          LanduseTyp
geometry  1             int32
          2             int32
          3             int32
          4             int32
          5             int32
          6             int32
          7             int32
          8             int32
          999           int32
dtype: object

In [39]:
df5.head(5)

                                      geometry
LanduseTyp                                 1   2   3   4   5   6   7   8   999
OBJECTID_1 Field1 year month day hour
1          1246   2016 5     8   23          0   0   0   0   0   0   0   1   0
2          1254   2016 5     9   1           0   0   0   0   0   0   0   0   1
3          3007   2016 5     12  12          0   0   0   0   0   0   0   1   0
4          3715   2016 5     13  13          0   0   0   0   0   0   1   0   0
5          4297   2016 5     14  10          0   0   1   0   0   0   0   0   0

In [40]:
df5.to_csv(r'D:\GaoYunshu2023\100011 HK-Work\RA-project\001 Task description\0127_twitterPOI.csv')

In [41]:
df5.groupby('hour').sum()

           geometry
LanduseTyp      1     2     3     4    5   6     7     8     999
hour
0                82  1869  2131  1787  100  27  1206  3171  4250
1               109  1861  2540  2046  147  26  1391  3044  4658
2               110  2057  2858  2433  142  21  1651  3416  5058
3               149  2112  3211  2521  162  25  1830  3908  5536
4               156  2674  3466  2993  190  41  2116  4428  6680
5               120  2967  3579  2905  187  38  2398  4539  7146
6               137  2783  3165  2756  131  41  2278  4300  6745
7               140  2612  3100  2657  197  46  2227  3941  6500
8               140  2529  2967  2620  157  23  2189  3715  6299
9               133  2468  3030  2670  193  31  2247  3716  6742
10              152  2846  3152  2907  181  42  2431  4126  7167
11              135  3153  3111  3141  183  48  2664  4194  7521
12              136  3129  3015  3084  163  54  2380  4105  7206
13              185  3058  2796  2933  156  51  2447  4147  6938
14              131  2869  2751  2818  156  21  2254  4118  6465
15              136  2528  2649  2627  159  21  2006  3639  5942
16               95  2150  2107  2068  105  15  1758  2947  4632
17               79  1341  1546  1489   79  13  1088  2164  3506
18               39   954  1139  1031   69  18   791  1681  2525
19               40   711  1009   866   46   4   699  1376  1999
20               40   723  1070   818   50  25   739  1409  1868
21               31   743  1068   869   52  30   648  1501  1904
22               37   843  1263   924   59  10   703  1772  2356
23               49  1235  1697  1750   76  13   895  2180  3677

In [44]:
df5.groupby(['year','month','day','hour']).sum()

                    geometry
LanduseTyp               1   2   3   4   5   6   7   8   999
year month day hour
2016 5     7   3           0   0   0   0   0   0   0   0   1
               6           0   0   0   0   0   0   1   2   0
               7           0   7   8   2   0   0   6   7  12
               8           0   7  15   4   1   0   5   4  17
               9           0   6  11   3   0   0   5   8  17
...                      ...  ..  ..  ..  ..  ..  ..  ..  ..
2018 12    18  17          0   0   2   0   0   0   0   1   3
               18          0   0   2   0   0   0   1   0   1
               20          0   1   0   0   0   0   0   0   0
               21          0   0   1   0   0   0   0   0   1
               22          0   0   1   1   0   0   0   1   0

[22086 rows x 9 columns]